<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>mir1.png</key>
		<dict>
			<key>frame</key>
			<string>{{918,2},{456,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{456,46}}</string>
			<key>sourceSize</key>
			<string>{456,46}</string>
		</dict>
		<key>mir2.png</key>
		<dict>
			<key>frame</key>
			<string>{{460,2},{456,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{456,46}}</string>
			<key>sourceSize</key>
			<string>{456,46}</string>
		</dict>
		<key>mir3.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{456,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{456,46}}</string>
			<key>sourceSize</key>
			<string>{456,46}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>makeitrain@2x.pvr.ccz</string>
		<key>size</key>
		<string>{1376,50}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:47d7aa697073b503bbe699a7b7a42928:524a5f8ea5f2c931f642bcd046faf971:042ed1b84ba0593c8096ec49a1cd9713$</string>
		<key>textureFileName</key>
		<string>makeitrain@2x.pvr.ccz</string>
	</dict>
</dict>
</plist>
