<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mir1.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,2},{228,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,23}}</string>
                <key>sourceSize</key>
                <string>{228,23}</string>
            </dict>
            <key>mir2.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{228,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,23}}</string>
                <key>sourceSize</key>
                <string>{228,23}</string>
            </dict>
            <key>mir3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{228,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,23}}</string>
                <key>sourceSize</key>
                <string>{228,23}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>makeitrain.pvr.ccz</string>
            <key>size</key>
            <string>{692,27}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:46432fe8d12e8ad0dc5c064ce9b7afce:916773bb6f20b64afd37a4582069cd7c:8d559a4e632c094175ccb30beae175eb$</string>
            <key>textureFileName</key>
            <string>makeitrain.pvr.ccz</string>
        </dict>
    </dict>
</plist>
