<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>GemBuildingT1Base00.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{126,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,128}}</string>
			<key>sourceSize</key>
			<string>{126,128}</string>
		</dict>
		<key>GemBuildingT1Base01.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,132},{126,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,128}}</string>
			<key>sourceSize</key>
			<string>{126,128}</string>
		</dict>
		<key>GemBuildingT1Base02.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,262},{126,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,128}}</string>
			<key>sourceSize</key>
			<string>{126,128}</string>
		</dict>
		<key>GemBuildingT1Base03.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,392},{126,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,128}}</string>
			<key>sourceSize</key>
			<string>{126,128}</string>
		</dict>
		<key>GemBuildingT1Base04.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,522},{126,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,128}}</string>
			<key>sourceSize</key>
			<string>{126,128}</string>
		</dict>
		<key>GemBuildingT1Base05.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,652},{126,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,128}}</string>
			<key>sourceSize</key>
			<string>{126,128}</string>
		</dict>
		<key>GemBuildingT1Base06.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,782},{126,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,128}}</string>
			<key>sourceSize</key>
			<string>{126,128}</string>
		</dict>
		<key>GemBuildingT1Base07.png</key>
		<dict>
			<key>frame</key>
			<string>{{130,2},{126,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,128}}</string>
			<key>sourceSize</key>
			<string>{126,128}</string>
		</dict>
		<key>GemBuildingT1Base08.png</key>
		<dict>
			<key>frame</key>
			<string>{{260,2},{126,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,128}}</string>
			<key>sourceSize</key>
			<string>{126,128}</string>
		</dict>
		<key>GemBuildingT1Base09.png</key>
		<dict>
			<key>frame</key>
			<string>{{390,2},{126,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,128}}</string>
			<key>sourceSize</key>
			<string>{126,128}</string>
		</dict>
		<key>GemBuildingT1Drill00.png</key>
		<dict>
			<key>frame</key>
			<string>{{520,2},{126,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,128}}</string>
			<key>sourceSize</key>
			<string>{126,128}</string>
		</dict>
		<key>GemBuildingT1Drill01.png</key>
		<dict>
			<key>frame</key>
			<string>{{650,2},{126,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,128}}</string>
			<key>sourceSize</key>
			<string>{126,128}</string>
		</dict>
		<key>GemBuildingT1Drill02.png</key>
		<dict>
			<key>frame</key>
			<string>{{780,2},{126,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,128}}</string>
			<key>sourceSize</key>
			<string>{126,128}</string>
		</dict>
		<key>GemBuildingT1Drill03.png</key>
		<dict>
			<key>frame</key>
			<string>{{130,130},{126,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,128}}</string>
			<key>sourceSize</key>
			<string>{126,128}</string>
		</dict>
		<key>GemBuildingT1Drill04.png</key>
		<dict>
			<key>frame</key>
			<string>{{130,260},{126,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,128}}</string>
			<key>sourceSize</key>
			<string>{126,128}</string>
		</dict>
		<key>GemBuildingT1Drill05.png</key>
		<dict>
			<key>frame</key>
			<string>{{130,390},{126,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,128}}</string>
			<key>sourceSize</key>
			<string>{126,128}</string>
		</dict>
		<key>GemBuildingT1Drill06.png</key>
		<dict>
			<key>frame</key>
			<string>{{130,520},{126,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,128}}</string>
			<key>sourceSize</key>
			<string>{126,128}</string>
		</dict>
		<key>GemBuildingT1Drill07.png</key>
		<dict>
			<key>frame</key>
			<string>{{130,650},{126,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,128}}</string>
			<key>sourceSize</key>
			<string>{126,128}</string>
		</dict>
		<key>GemBuildingT1Drill08.png</key>
		<dict>
			<key>frame</key>
			<string>{{130,780},{126,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,128}}</string>
			<key>sourceSize</key>
			<string>{126,128}</string>
		</dict>
		<key>GemBuildingT1Drill09.png</key>
		<dict>
			<key>frame</key>
			<string>{{258,130},{126,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,128}}</string>
			<key>sourceSize</key>
			<string>{126,128}</string>
		</dict>
		<key>GemBuildingT1Hole00.png</key>
		<dict>
			<key>frame</key>
			<string>{{388,130},{126,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,128}}</string>
			<key>sourceSize</key>
			<string>{126,128}</string>
		</dict>
		<key>GemBuildingT1Hole01.png</key>
		<dict>
			<key>frame</key>
			<string>{{518,130},{126,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,128}}</string>
			<key>sourceSize</key>
			<string>{126,128}</string>
		</dict>
		<key>GemBuildingT1Hole02.png</key>
		<dict>
			<key>frame</key>
			<string>{{648,130},{126,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,128}}</string>
			<key>sourceSize</key>
			<string>{126,128}</string>
		</dict>
		<key>GemBuildingT1Hole03.png</key>
		<dict>
			<key>frame</key>
			<string>{{778,130},{126,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,128}}</string>
			<key>sourceSize</key>
			<string>{126,128}</string>
		</dict>
		<key>GemBuildingT1Hole04.png</key>
		<dict>
			<key>frame</key>
			<string>{{258,258},{126,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,128}}</string>
			<key>sourceSize</key>
			<string>{126,128}</string>
		</dict>
		<key>GemBuildingT1Hole05.png</key>
		<dict>
			<key>frame</key>
			<string>{{258,388},{126,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,128}}</string>
			<key>sourceSize</key>
			<string>{126,128}</string>
		</dict>
		<key>GemBuildingT1Hole06.png</key>
		<dict>
			<key>frame</key>
			<string>{{258,518},{126,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,128}}</string>
			<key>sourceSize</key>
			<string>{126,128}</string>
		</dict>
		<key>GemBuildingT1Hole07.png</key>
		<dict>
			<key>frame</key>
			<string>{{258,648},{126,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,128}}</string>
			<key>sourceSize</key>
			<string>{126,128}</string>
		</dict>
		<key>GemBuildingT1Hole08.png</key>
		<dict>
			<key>frame</key>
			<string>{{258,778},{126,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,128}}</string>
			<key>sourceSize</key>
			<string>{126,128}</string>
		</dict>
		<key>GemBuildingT1Hole09.png</key>
		<dict>
			<key>frame</key>
			<string>{{386,258},{126,128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{126,128}}</string>
			<key>sourceSize</key>
			<string>{126,128}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>GemBuildingT1@2x.pvr.ccz</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:0d8ce2f3f13a8433759cde3d350d5041:d0aa6f4cb28d9796d5a5aec1d0889b9d:641539a38a33f8d42834f88ec456f2b8$</string>
		<key>textureFileName</key>
		<string>GemBuildingT1@2x.pvr.ccz</string>
	</dict>
</dict>
</plist>
