<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Luchador1AKRunF00.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,2},{104,106}}</string>
                <key>offset</key>
                <string>{-14,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,92},{104,106}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Luchador1AKRunF01.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{102,112}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,94},{102,112}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Luchador1AKRunF02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,122}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,89},{100,122}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Luchador1AKRunF03.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{96,122}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,86},{96,122}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Luchador1AKRunF04.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,2},{90,108}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,90},{90,108}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Luchador1AKRunF05.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,2},{92,112}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,91},{92,112}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Luchador1AKRunF06.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{98,118}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,87},{98,118}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Luchador1AKRunF07.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{100,116}}</string>
                <key>offset</key>
                <string>{-12,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,87},{100,116}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Luchador1AKRunN00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,2},{66,110}}</string>
                <key>offset</key>
                <string>{-2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,109},{66,110}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Luchador1AKRunN01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1240,2},{58,110}}</string>
                <key>offset</key>
                <string>{-3,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,112},{58,110}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Luchador1AKRunN02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1240,62},{54,110}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,109},{54,110}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Luchador1AKRunN03.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,2},{78,106}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,106},{78,106}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Luchador1AKRunN04.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,2},{90,104}}</string>
                <key>offset</key>
                <string>{-9,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,108},{90,104}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Luchador1AKRunN05.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,2},{74,106}}</string>
                <key>offset</key>
                <string>{-15,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,109},{74,106}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Luchador1AKRunN06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,2},{62,110}}</string>
                <key>offset</key>
                <string>{-9,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,106},{62,110}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Luchador1AKRunN07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1180,2},{58,110}}</string>
                <key>offset</key>
                <string>{-4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,106},{58,110}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Luchador1AKRunNF@2x.pvr.ccz</string>
            <key>size</key>
            <string>{1352,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:80c26795b544575fe2d984ae8552371e:bb5fff62398ff96661753bb36572b9ab:0ed63e7bea81861c7019af6550f76e28$</string>
            <key>textureFileName</key>
            <string>Luchador1AKRunNF@2x.pvr.ccz</string>
        </dict>
    </dict>
</plist>
