<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Mafia1T1RunF00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1066},{66,126}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,68},{66,126}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Mafia1T1RunF01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1576},{62,122}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,68},{62,122}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Mafia1T1RunF02.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,1824},{54,122}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,69},{54,122}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Mafia1T1RunF03.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,1066},{44,120}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,69},{44,120}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Mafia1T1RunF04.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,1450},{48,116}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,68},{48,116}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Mafia1T1RunF05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1700},{56,122}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,66},{56,122}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Mafia1T1RunF06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1194},{66,124}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,64},{66,124}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Mafia1T1RunF07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1450},{62,124}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,66},{62,124}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Mafia1T1RunF08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1824},{50,124}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,68},{50,124}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Mafia1T1RunF09.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,1188},{38,120}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,69},{38,120}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Mafia1T1RunF10.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,1700},{54,122}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,69},{54,122}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Mafia1T1RunF11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1320},{64,128}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,68},{64,128}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Mafia1T1RunN00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,826},{80,96}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,85},{80,96}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Mafia1T1RunN01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,744},{80,96}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,87},{80,96}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Mafia1T1RunN02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,582},{78,100}}</string>
                <key>offset</key>
                <string>{-5,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,88},{78,100}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Mafia1T1RunN03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,982},{82,92}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,90},{82,92}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Mafia1T1RunN04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{86,102}}</string>
                <key>offset</key>
                <string>{-2,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,88},{86,102}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Mafia1T1RunN05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{94,104}}</string>
                <key>offset</key>
                <string>{2,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,87},{94,104}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Mafia1T1RunN06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{102,102}}</string>
                <key>offset</key>
                <string>{4,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,88},{102,102}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Mafia1T1RunN07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{100,104}}</string>
                <key>offset</key>
                <string>{5,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,87},{100,104}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Mafia1T1RunN08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,108}}</string>
                <key>offset</key>
                <string>{3,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,88},{98,108}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Mafia1T1RunN09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,492},{88,100}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,90},{88,100}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Mafia1T1RunN10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,662},{80,96}}</string>
                <key>offset</key>
                <string>{-5,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,88},{80,96}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Mafia1T1RunN11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,908},{72,96}}</string>
                <key>offset</key>
                <string>{-7,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,87},{72,96}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Mafia1T1RunNF@2x.pvr.ccz</string>
            <key>size</key>
            <string>{116,1950}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b9c011ae7575523a98fab1ad188f91be:dedd85a20c5776c50ee4de812d99a66c:d29d62cde7bab68847751cbd58554e1c$</string>
            <key>textureFileName</key>
            <string>Mafia1T1RunNF@2x.pvr.ccz</string>
        </dict>
    </dict>
</plist>
