<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Construction.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{284,332}}</string>
			<key>offset</key>
			<string>{-37,-167}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{321,501},{284,332}}</string>
			<key>sourceSize</key>
			<string>{1000,1000}</string>
		</dict>
		<key>Construction01.png</key>
		<dict>
			<key>frame</key>
			<string>{{780,212},{140,204}}</string>
			<key>offset</key>
			<string>{22,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{452,392},{140,204}}</string>
			<key>sourceSize</key>
			<string>{1000,1000}</string>
		</dict>
		<key>Construction02.png</key>
		<dict>
			<key>frame</key>
			<string>{{1036,148},{160,196}}</string>
			<key>offset</key>
			<string>{11,38}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{431,364},{160,196}}</string>
			<key>sourceSize</key>
			<string>{1000,1000}</string>
		</dict>
		<key>Construction03.png</key>
		<dict>
			<key>frame</key>
			<string>{{628,218},{150,210}}</string>
			<key>offset</key>
			<string>{13,41}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{438,354},{150,210}}</string>
			<key>sourceSize</key>
			<string>{1000,1000}</string>
		</dict>
		<key>Construction04.png</key>
		<dict>
			<key>frame</key>
			<string>{{1066,310},{176,186}}</string>
			<key>offset</key>
			<string>{9,36}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{421,371},{176,186}}</string>
			<key>sourceSize</key>
			<string>{1000,1000}</string>
		</dict>
		<key>Construction05.png</key>
		<dict>
			<key>frame</key>
			<string>{{892,2},{202,142}}</string>
			<key>offset</key>
			<string>{4,27}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{403,402},{202,142}}</string>
			<key>sourceSize</key>
			<string>{1000,1000}</string>
		</dict>
		<key>Construction06.png</key>
		<dict>
			<key>frame</key>
			<string>{{498,2},{218,126}}</string>
			<key>offset</key>
			<string>{-3,10}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{388,427},{218,126}}</string>
			<key>sourceSize</key>
			<string>{1000,1000}</string>
		</dict>
		<key>Construction07.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,336},{230,164}}</string>
			<key>offset</key>
			<string>{-5,-23}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{380,441},{230,164}}</string>
			<key>sourceSize</key>
			<string>{1000,1000}</string>
		</dict>
		<key>Construction08.png</key>
		<dict>
			<key>frame</key>
			<string>{{420,238},{234,206}}</string>
			<key>offset</key>
			<string>{-5,-52}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{378,449},{234,206}}</string>
			<key>sourceSize</key>
			<string>{1000,1000}</string>
		</dict>
		<key>Construction09.png</key>
		<dict>
			<key>frame</key>
			<string>{{288,2},{234,208}}</string>
			<key>offset</key>
			<string>{-5,-52}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{378,448},{234,208}}</string>
			<key>sourceSize</key>
			<string>{1000,1000}</string>
		</dict>
		<key>Construction10.png</key>
		<dict>
			<key>frame</key>
			<string>{{626,2},{214,142}}</string>
			<key>offset</key>
			<string>{5,-19}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{398,448},{214,142}}</string>
			<key>sourceSize</key>
			<string>{1000,1000}</string>
		</dict>
		<key>Construction11.png</key>
		<dict>
			<key>frame</key>
			<string>{{770,2},{208,120}}</string>
			<key>offset</key>
			<string>{6,10}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{402,430},{208,120}}</string>
			<key>sourceSize</key>
			<string>{1000,1000}</string>
		</dict>
		<key>Construction12.png</key>
		<dict>
			<key>frame</key>
			<string>{{234,336},{184,162}}</string>
			<key>offset</key>
			<string>{13,31}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{421,388},{184,162}}</string>
			<key>sourceSize</key>
			<string>{1000,1000}</string>
		</dict>
		<key>Construction13.png</key>
		<dict>
			<key>frame</key>
			<string>{{1036,2},{144,198}}</string>
			<key>offset</key>
			<string>{22,39}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{450,362},{144,198}}</string>
			<key>sourceSize</key>
			<string>{1000,1000}</string>
		</dict>
		<key>Construction00.png</key>
		<dict>
			<key>frame</key>
			<string>{{922,310},{142,190}}</string>
			<key>offset</key>
			<string>{22,37}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{451,368},{142,190}}</string>
			<key>sourceSize</key>
			<string>{1000,1000}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Construction@2x.pvr.ccz</string>
		<key>size</key>
		<string>{1244,502}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:f402064bc18f45a0c789452f0a40508a:1/1$</string>
		<key>textureFileName</key>
		<string>Construction@2x.pvr.ccz</string>
	</dict>
</dict>
</plist>
