<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Boat01.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,2},{132,190}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,28},{132,190}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Boat02.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,2},{134,190}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,28},{134,190}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Boat03.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{134,190}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,28},{134,190}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Boat04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{136,192}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,26},{136,192}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Boat05.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{136,190}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,28},{136,190}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Boat06.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{134,190}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,28},{134,190}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Boat07.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,2},{134,188}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,30},{134,188}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Boat08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,2},{134,186}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,31},{134,186}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Boat09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1624,2},{134,184}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,32},{134,184}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Boat10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1760,2},{132,184}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,32},{132,184}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Boat11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1492,2},{130,186}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,30},{130,186}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Boat12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1360,2},{130,186}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,30},{130,186}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Boat13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,2},{132,188}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,28},{132,188}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Boat14.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,2},{132,190}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,28},{132,190}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Boat@2x.pvr.ccz</string>
            <key>size</key>
            <string>{1894,196}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7688509d8b12a992515d89a40bd66e9b:8f2ba29e524dbb79bac06232ca9cf1eb:270408b2dc5fadaf494905119c420273$</string>
            <key>textureFileName</key>
            <string>Boat@2x.pvr.ccz</string>
        </dict>
    </dict>
</plist>
