<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Clown2AttackN00.png</key>
		<dict>
			<key>frame</key>
			<string>{{416,2},{44,106}}</string>
			<key>offset</key>
			<string>{0,-20}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{128,117},{44,106}}</string>
			<key>sourceSize</key>
			<string>{300,300}</string>
		</dict>
		<key>Clown2AttackN01.png</key>
		<dict>
			<key>frame</key>
			<string>{{548,2},{80,104}}</string>
			<key>offset</key>
			<string>{-8,-21}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{102,119},{80,104}}</string>
			<key>sourceSize</key>
			<string>{300,300}</string>
		</dict>
		<key>Clown2AttackN02.png</key>
		<dict>
			<key>frame</key>
			<string>{{266,2},{106,102}}</string>
			<key>offset</key>
			<string>{-18,-22}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{79,121},{106,102}}</string>
			<key>sourceSize</key>
			<string>{300,300}</string>
		</dict>
		<key>Clown2AttackN03.png</key>
		<dict>
			<key>frame</key>
			<string>{{162,2},{106,102}}</string>
			<key>offset</key>
			<string>{-18,-22}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{79,121},{106,102}}</string>
			<key>sourceSize</key>
			<string>{300,300}</string>
		</dict>
		<key>Clown2AttackN04.png</key>
		<dict>
			<key>frame</key>
			<string>{{630,2},{102,100}}</string>
			<key>offset</key>
			<string>{-16,-23}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{83,123},{102,100}}</string>
			<key>sourceSize</key>
			<string>{300,300}</string>
		</dict>
		<key>Clown2AttackN05.png</key>
		<dict>
			<key>frame</key>
			<string>{{1082,2},{138,100}}</string>
			<key>offset</key>
			<string>{-35,-23}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{46,123},{138,100}}</string>
			<key>sourceSize</key>
			<string>{300,300}</string>
		</dict>
		<key>Clown2AttackN06.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{158,106}}</string>
			<key>offset</key>
			<string>{-46,-25}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{25,122},{158,106}}</string>
			<key>sourceSize</key>
			<string>{300,300}</string>
		</dict>
		<key>Clown2AttackN07.png</key>
		<dict>
			<key>frame</key>
			<string>{{1008,2},{72,102}}</string>
			<key>offset</key>
			<string>{-6,-22}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{108,121},{72,102}}</string>
			<key>sourceSize</key>
			<string>{300,300}</string>
		</dict>
		<key>Clown2AttackN08.png</key>
		<dict>
			<key>frame</key>
			<string>{{920,2},{86,102}}</string>
			<key>offset</key>
			<string>{-9,-22}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{98,121},{86,102}}</string>
			<key>sourceSize</key>
			<string>{300,300}</string>
		</dict>
		<key>Clown2AttackN09.png</key>
		<dict>
			<key>frame</key>
			<string>{{826,2},{92,102}}</string>
			<key>offset</key>
			<string>{-11,-22}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{93,121},{92,102}}</string>
			<key>sourceSize</key>
			<string>{300,300}</string>
		</dict>
		<key>Clown2AttackN10.png</key>
		<dict>
			<key>frame</key>
			<string>{{732,2},{92,102}}</string>
			<key>offset</key>
			<string>{-11,-22}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{93,121},{92,102}}</string>
			<key>sourceSize</key>
			<string>{300,300}</string>
		</dict>
		<key>Clown2AttackN11.png</key>
		<dict>
			<key>frame</key>
			<string>{{462,2},{84,104}}</string>
			<key>offset</key>
			<string>{-12,-21}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{96,119},{84,104}}</string>
			<key>sourceSize</key>
			<string>{300,300}</string>
		</dict>
		<key>Clown2AttackN12.png</key>
		<dict>
			<key>frame</key>
			<string>{{370,2},{44,106}}</string>
			<key>offset</key>
			<string>{0,-20}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{128,117},{44,106}}</string>
			<key>sourceSize</key>
			<string>{300,300}</string>
		</dict>
		<key>Clown2FlinchN00.png</key>
		<dict>
			<key>frame</key>
			<string>{{1222,2},{58,92}}</string>
			<key>offset</key>
			<string>{-5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{116,104},{58,92}}</string>
			<key>sourceSize</key>
			<string>{300,300}</string>
		</dict>
		<key>Clown2FlinchN01.png</key>
		<dict>
			<key>frame</key>
			<string>{{1282,2},{76,82}}</string>
			<key>offset</key>
			<string>{-16,-13}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{96,122},{76,82}}</string>
			<key>sourceSize</key>
			<string>{300,300}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>Clown2Attack@2x.pvr.ccz</string>
		<key>size</key>
		<string>{1360,110}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:52043cd43d75e85c75a40ccaeb58535b:1/1$</string>
		<key>textureFileName</key>
		<string>Clown2Attack@2x.pvr.ccz</string>
	</dict>
</dict>
</plist>
