<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Rapper1AKRunF00.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{50,54}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,47},{50,54}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Rapper1AKRunF01.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{44,54}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,49},{44,54}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Rapper1AKRunF02.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{42,58}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,47},{42,58}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Rapper1AKRunF03.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,2},{40,60}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,46},{40,60}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Rapper1AKRunF04.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{38,56}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,46},{38,56}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Rapper1AKRunF05.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{40,56}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,47},{40,56}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Rapper1AKRunF06.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{42,56}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,46},{42,56}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Rapper1AKRunF07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,58}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,45},{48,58}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Rapper1AKRunN00.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{32,52}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,54},{32,52}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Rapper1AKRunN01.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,2},{28,50}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,56},{28,50}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Rapper1AKRunN02.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,2},{32,50}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,54},{32,50}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Rapper1AKRunN03.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{40,50}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,52},{40,50}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Rapper1AKRunN04.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{42,50}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,54},{42,50}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Rapper1AKRunN05.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,2},{36,48}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,55},{36,48}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Rapper1AKRunN06.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{30,50}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,53},{30,50}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Rapper1AKRunN07.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{30,52}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,53},{30,52}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Rapper1AKRunNF.pvr.ccz</string>
            <key>size</key>
            <string>{668,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e39c58e737452afe6922179ee94074ea:1/1$</string>
            <key>textureFileName</key>
            <string>Rapper1AKRunNF.pvr.ccz</string>
        </dict>
    </dict>
</plist>
