<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SuperGirl3RunF00.tga</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{80,122}}</string>
                <key>offset</key>
                <string>{10,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,81},{80,122}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>SuperGirl3RunF01.tga</key>
            <dict>
                <key>frame</key>
                <string>{{2,1896},{72,126}}</string>
                <key>offset</key>
                <string>{11,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,81},{72,126}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>SuperGirl3RunF02.tga</key>
            <dict>
                <key>frame</key>
                <string>{{2,1758},{74,136}}</string>
                <key>offset</key>
                <string>{6,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,73},{74,136}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>SuperGirl3RunF03.tga</key>
            <dict>
                <key>frame</key>
                <string>{{2,956},{90,130}}</string>
                <key>offset</key>
                <string>{5,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,73},{90,130}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>SuperGirl3RunF04.tga</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{100,124}}</string>
                <key>offset</key>
                <string>{6,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,79},{100,124}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>SuperGirl3RunF05.tga</key>
            <dict>
                <key>frame</key>
                <string>{{2,1088},{90,128}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,77},{90,128}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>SuperGirl3RunF06.tga</key>
            <dict>
                <key>frame</key>
                <string>{{2,1490},{78,136}}</string>
                <key>offset</key>
                <string>{5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,71},{78,136}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>SuperGirl3RunF07.tga</key>
            <dict>
                <key>frame</key>
                <string>{{2,1628},{78,128}}</string>
                <key>offset</key>
                <string>{12,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,72},{78,128}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>SuperGirl3RunN00.tga</key>
            <dict>
                <key>frame</key>
                <string>{{2,550},{98,138}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,75},{98,138}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>SuperGirl3RunN01.tga</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{104,128}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,77},{104,128}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>SuperGirl3RunN02.tga</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{102,120}}</string>
                <key>offset</key>
                <string>{3,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,73},{102,120}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>SuperGirl3RunN03.tga</key>
            <dict>
                <key>frame</key>
                <string>{{2,1356},{86,132}}</string>
                <key>offset</key>
                <string>{-2,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,70},{86,132}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>SuperGirl3RunN04.tga</key>
            <dict>
                <key>frame</key>
                <string>{{2,1218},{88,136}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,73},{88,136}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>SuperGirl3RunN05.tga</key>
            <dict>
                <key>frame</key>
                <string>{{2,828},{98,126}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,75},{98,126}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>SuperGirl3RunN06.tga</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,122}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,72},{104,122}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>SuperGirl3RunN07.tga</key>
            <dict>
                <key>frame</key>
                <string>{{2,690},{98,136}}</string>
                <key>offset</key>
                <string>{-5,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,70},{98,136}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SuperGirl3RunNF@2x.pvr.ccz</string>
            <key>size</key>
            <string>{126,2024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fe7d6a05311393bd869707657ab7056e:d64b7beb4d649912f04070814a75bb2c:02edc7f7ac4e2b975804d2605cfec5b1$</string>
            <key>textureFileName</key>
            <string>SuperGirl3RunNF@2x.pvr.ccz</string>
        </dict>
    </dict>
</plist>
