<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>VinesMain01.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,94},{10,10}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,74},{10,10}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>VinesMain02.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,92},{14,12}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,72},{14,12}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>VinesMain03.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,88},{18,14}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,69},{18,14}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>VinesMain04.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,82},{22,20}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,67},{22,20}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>VinesMain05.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,72},{36,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,65},{36,26}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>VinesMain06.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,70},{54,34}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,59},{54,34}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>VinesMain07.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,58},{62,36}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,58},{62,36}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>VinesMain08.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,2},{68,54}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,56},{68,54}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>VinesMain09.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,2},{68,64}}</string>
                <key>offset</key>
                <string>{9,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,54},{68,64}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>VinesMain10.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,2},{64,66}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,52},{64,66}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>VinesMain11.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,2},{78,68}}</string>
                <key>offset</key>
                <string>{5,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,52},{78,68}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>VinesMain12.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,2},{84,66}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,53},{84,66}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>VinesMain13.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,2},{84,68}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,52},{84,68}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>VinesMain14.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,2},{90,78}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,41},{90,78}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>VinesMain15.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,2},{84,84}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,34},{84,84}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>VinesMain16.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{86,88}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,33},{86,88}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>VinesMain17.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{84,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,33},{84,88}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>VinesMain18.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{84,88}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,32},{84,88}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>VinesMain19.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{90,88}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,33},{90,88}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>VinesMain20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,90}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,33},{94,90}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>VinesMain@2x.pvr.ccz</string>
            <key>size</key>
            <string>{1020,106}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:269585804a9381e1188de40e1b7bc554:6a2a183dd9ede159820012a26a9b556a:51ef5381aea17ab1e3c9cebbe622c756$</string>
            <key>textureFileName</key>
            <string>VinesMain@2x.pvr.ccz</string>
        </dict>
    </dict>
</plist>
