<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>VinesUp01.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,44},{12,8}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,71},{12,8}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>VinesUp02.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,28},{14,12}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,68},{14,12}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>VinesUp03.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,2},{14,24}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,55},{14,24}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>VinesUp04.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,426},{20,44}}</string>
                <key>offset</key>
                <string>{-5,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,37},{20,44}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>VinesUp05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{26,64}}</string>
                <key>offset</key>
                <string>{-3,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,17},{26,64}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>VinesUp06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{32,78}}</string>
                <key>offset</key>
                <string>{0,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,2},{32,78}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>VinesUp07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{32,86}}</string>
                <key>offset</key>
                <string>{2,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,0},{32,86}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>VinesUp08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{28,82}}</string>
                <key>offset</key>
                <string>{0,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,0},{28,82}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>VinesUp09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{34,84}}</string>
                <key>offset</key>
                <string>{-1,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,0},{34,84}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>VinesUp10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{38,84}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,0},{38,84}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>VinesUp@2x.pvr.ccz</string>
            <key>size</key>
            <string>{52,492}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0db2f27f8c57b5f359c8125def4e4861:32be9d4c612c4aa919a86b6b83499f58:73660be2b8e52c227998450cdc7e77a9$</string>
            <key>textureFileName</key>
            <string>VinesUp@2x.pvr.ccz</string>
        </dict>
    </dict>
</plist>
