<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Brute1T1AttackF00.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,1276},{72,108}}</string>
                <key>offset</key>
                <string>{4,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,88},{72,108}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Brute1T1AttackF01.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,1056},{64,110}}</string>
                <key>offset</key>
                <string>{2,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,86},{64,110}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Brute1T1AttackF02.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,1122},{48,110}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,86},{48,110}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Brute1T1AttackF03.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,992},{62,112}}</string>
                <key>offset</key>
                <string>{-10,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,84},{62,112}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Brute1T1AttackF04.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,546},{76,130}}</string>
                <key>offset</key>
                <string>{-14,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,66},{76,130}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Brute1T1AttackF05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{110,150}}</string>
                <key>offset</key>
                <string>{-27,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,46},{110,150}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Brute1T1AttackF06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{112,150}}</string>
                <key>offset</key>
                <string>{-26,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,46},{112,150}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Brute1T1AttackF07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{60,148}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,48},{60,148}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Brute1T1AttackF08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{60,146}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,50},{60,146}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Brute1T1AttackF09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{74,148}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,48},{74,148}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Brute1T1AttackF10.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,130},{76,134}}</string>
                <key>offset</key>
                <string>{-14,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,62},{76,134}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Brute1T1AttackF11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1122},{58,110}}</string>
                <key>offset</key>
                <string>{-8,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,86},{58,110}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Brute1T1AttackF12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1060},{60,110}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,86},{60,110}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Brute1T1AttackF13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1286},{72,108}}</string>
                <key>offset</key>
                <string>{4,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,88},{72,108}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Brute1T1AttackN00.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,266},{98,102}}</string>
                <key>offset</key>
                <string>{-6,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,92},{98,102}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Brute1T1AttackN01.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,1172},{108,102}}</string>
                <key>offset</key>
                <string>{-11,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,92},{108,102}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Brute1T1AttackN02.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,678},{120,102}}</string>
                <key>offset</key>
                <string>{-17,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,92},{120,102}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Brute1T1AttackN03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,642},{128,102}}</string>
                <key>offset</key>
                <string>{-22,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,92},{128,102}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Brute1T1AttackN04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,852},{126,102}}</string>
                <key>offset</key>
                <string>{-21,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,92},{126,102}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Brute1T1AttackN05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{156,104}}</string>
                <key>offset</key>
                <string>{-34,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,90},{156,104}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Brute1T1AttackN06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,106}}</string>
                <key>offset</key>
                <string>{-33,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,88},{160,106}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Brute1T1AttackN07.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,1350},{102,106}}</string>
                <key>offset</key>
                <string>{-2,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,88},{102,106}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Brute1T1AttackN08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1360},{102,106}}</string>
                <key>offset</key>
                <string>{-4,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,88},{102,106}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Brute1T1AttackN09.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,782},{112,104}}</string>
                <key>offset</key>
                <string>{-12,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,90},{112,104}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Brute1T1AttackN10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,746},{126,104}}</string>
                <key>offset</key>
                <string>{-21,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,90},{126,104}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Brute1T1AttackN11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,956},{126,102}}</string>
                <key>offset</key>
                <string>{-20,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,92},{126,102}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Brute1T1AttackN12.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,888},{112,102}}</string>
                <key>offset</key>
                <string>{-12,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,92},{112,102}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Brute1T1AttackN13.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,370},{98,102}}</string>
                <key>offset</key>
                <string>{-6,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,92},{98,102}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Brute1T1FlinchF00.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,1454},{72,106}}</string>
                <key>offset</key>
                <string>{8,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,92},{72,106}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Brute1T1FlinchF01.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,474},{70,100}}</string>
                <key>offset</key>
                <string>{17,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,100},{70,100}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Brute1T1FlinchN00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1464},{104,102}}</string>
                <key>offset</key>
                <string>{-6,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,90},{104,102}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Brute1T1FlinchN01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1182},{108,102}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,87},{108,102}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Brute1T1StayN00.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{78,126}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,68},{78,126}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Brute1T1AttackNF@2x.pvr.ccz</string>
            <key>size</key>
            <string>{254,1568}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:62c0253e500f61f4335d5407dae0a268:4388b75bb563a620b5cb895b0b7433bc:d58ba74238050ff44594e24e15512a0f$</string>
            <key>textureFileName</key>
            <string>Brute1T1AttackNF@2x.pvr.ccz</string>
        </dict>
    </dict>
</plist>
