<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Gangster3T1RunF00.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{34,54}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,47},{34,54}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Gangster3T1RunF01.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{26,56}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,47},{26,56}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Gangster3T1RunF02.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,2},{32,58}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,47},{32,58}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Gangster3T1RunF03.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,2},{38,60}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,46},{38,60}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Gangster3T1RunF04.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{42,56}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,46},{42,56}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Gangster3T1RunF05.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{40,56}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,47},{40,56}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Gangster3T1RunF06.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{32,56}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,46},{32,56}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Gangster3T1RunF07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{32,58}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,45},{32,58}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Gangster3T1RunN00.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{44,54}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,52},{44,54}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Gangster3T1RunN01.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{40,50}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,54},{40,50}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Gangster3T1RunN02.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{36,50}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,52},{36,50}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Gangster3T1RunN03.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{34,52}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,50},{34,52}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Gangster3T1RunN04.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{32,52}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,52},{32,52}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Gangster3T1RunN05.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,2},{26,48}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,53},{26,48}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Gangster3T1RunN06.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{36,52}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,51},{36,52}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Gangster3T1RunN07.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{42,54}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,51},{42,54}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Gangster3T1RunNF.pvr.ccz</string>
            <key>size</key>
            <string>{622,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7906556d89107877c58418cb7c801c14:5025b0fe95938b061c9554804064d430:7b2a8901f6eba13c49208ba6a2d15986$</string>
            <key>textureFileName</key>
            <string>Gangster3T1RunNF.pvr.ccz</string>
        </dict>
    </dict>
</plist>
