<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Kim1T1AttackF00.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,2},{37,59}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,42},{37,59}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Kim1T1AttackF01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,2},{33,53}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,44},{33,53}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Kim1T1AttackF02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1165,2},{43,53}}</string>
                <key>offset</key>
                <string>{-10,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,44},{43,53}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Kim1T1AttackF03.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,2},{45,53}}</string>
                <key>offset</key>
                <string>{-11,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,44},{45,53}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Kim1T1AttackF04.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,2},{43,55}}</string>
                <key>offset</key>
                <string>{-11,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,42},{43,55}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Kim1T1AttackF05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,2},{43,53}}</string>
                <key>offset</key>
                <string>{-11,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,44},{43,53}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Kim1T1AttackF06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1075,2},{43,53}}</string>
                <key>offset</key>
                <string>{-12,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,44},{43,53}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Kim1T1AttackF07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,2},{41,53}}</string>
                <key>offset</key>
                <string>{-12,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,44},{41,53}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Kim1T1AttackF08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,2},{43,53}}</string>
                <key>offset</key>
                <string>{-12,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,44},{43,53}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Kim1T1AttackF09.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,2},{43,53}}</string>
                <key>offset</key>
                <string>{-11,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,44},{43,53}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Kim1T1AttackF10.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,2},{45,53}}</string>
                <key>offset</key>
                <string>{-11,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,44},{45,53}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Kim1T1AttackF11.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,2},{43,53}}</string>
                <key>offset</key>
                <string>{-10,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,44},{43,53}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Kim1T1AttackF12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1253,2},{35,53}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,44},{35,53}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Kim1T1AttackF13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{37,59}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,42},{37,59}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Kim1T1AttackN00.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,2},{37,55}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,43},{37,55}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Kim1T1AttackN01.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,2},{33,55}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,43},{33,55}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Kim1T1AttackN02.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{43,55}}</string>
                <key>offset</key>
                <string>{-8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,43},{43,55}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Kim1T1AttackN03.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,2},{43,55}}</string>
                <key>offset</key>
                <string>{-8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,43},{43,55}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Kim1T1AttackN04.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,2},{45,55}}</string>
                <key>offset</key>
                <string>{-9,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,43},{45,55}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Kim1T1AttackN05.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{43,55}}</string>
                <key>offset</key>
                <string>{-9,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,43},{43,55}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Kim1T1AttackN06.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,2},{41,55}}</string>
                <key>offset</key>
                <string>{-9,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,43},{41,55}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Kim1T1AttackN07.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,2},{41,55}}</string>
                <key>offset</key>
                <string>{-9,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,43},{41,55}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Kim1T1AttackN08.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,2},{41,55}}</string>
                <key>offset</key>
                <string>{-9,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,43},{41,55}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Kim1T1AttackN09.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,2},{43,55}}</string>
                <key>offset</key>
                <string>{-9,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,43},{43,55}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Kim1T1AttackN10.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{43,55}}</string>
                <key>offset</key>
                <string>{-8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,43},{43,55}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Kim1T1AttackN11.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,2},{43,55}}</string>
                <key>offset</key>
                <string>{-8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,43},{43,55}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Kim1T1AttackN12.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,2},{33,55}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,43},{33,55}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Kim1T1AttackN13.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,2},{37,55}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,43},{37,55}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Kim1T1FlinchF00.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{43,55}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,44},{43,55}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Kim1T1FlinchF01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,2},{51,47}}</string>
                <key>offset</key>
                <string>{-7,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,48},{51,47}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Kim1T1FlinchN00.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,2},{43,53}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,43},{43,53}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Kim1T1FlinchN01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1325,2},{51,49}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,45},{51,49}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Kim1T1StayN00.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{35,57}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,41},{35,57}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Kim1T1AttackNF.pvr.ccz</string>
            <key>size</key>
            <string>{1425,63}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d98f50d851234761fcdf5b0f40fc86e1:684c7970e7bdb1b935adce5e0098ffa5:0dd234ef76e7c7b97af756d6b4f74b30$</string>
            <key>textureFileName</key>
            <string>Kim1T1AttackNF.pvr.ccz</string>
        </dict>
    </dict>
</plist>
