<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Squirrel1T1AttackF00.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,2},{43,55}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,37},{43,55}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Squirrel1T1AttackF01.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,2},{43,53}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,39},{43,53}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Squirrel1T1AttackF02.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,2},{43,53}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,39},{43,53}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Squirrel1T1AttackF03.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,65},{51,55}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,39},{51,55}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Squirrel1T1AttackF04.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,65},{51,55}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,41},{51,55}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Squirrel1T1AttackF05.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,65},{55,53}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,40},{55,53}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Squirrel1T1AttackF06.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{61,55}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,37},{61,55}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Squirrel1T1AttackF07.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{79,65}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,26},{79,65}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Squirrel1T1AttackF08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{93,75}}</string>
                <key>offset</key>
                <string>{-10,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,16},{93,75}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Squirrel1T1AttackF09.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,2},{67,59}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,32},{67,59}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Squirrel1T1AttackF10.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,63},{57,57}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,34},{57,57}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Squirrel1T1AttackF11.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,63},{53,57}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,34},{53,57}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Squirrel1T1AttackF12.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,65},{49,55}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,36},{49,55}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Squirrel1T1AttackF13.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,59},{47,53}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,38},{47,53}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Squirrel1T1AttackF14.png</key>
            <dict>
                <key>frame</key>
                <string>{{655,65},{43,55}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,37},{43,55}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Squirrel1T1AttackN00.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,2},{47,61}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,34},{47,61}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Squirrel1T1AttackN01.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{49,61}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,34},{49,61}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Squirrel1T1AttackN02.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,67},{53,61}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,34},{53,61}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Squirrel1T1AttackN03.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,67},{53,63}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,32},{53,63}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Squirrel1T1AttackN04.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{53,63}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,31},{53,63}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Squirrel1T1AttackN05.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,2},{51,63}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,31},{51,63}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Squirrel1T1AttackN06.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,2},{43,61}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,33},{43,61}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Squirrel1T1AttackN07.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,2},{51,59}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,36},{51,59}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Squirrel1T1AttackN08.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,2},{83,57}}</string>
                <key>offset</key>
                <string>{-21,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,38},{83,57}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Squirrel1T1AttackN09.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,63},{57,57}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,38},{57,57}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Squirrel1T1AttackN10.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,2},{51,59}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,36},{51,59}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Squirrel1T1AttackN11.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,2},{49,59}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,36},{49,59}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Squirrel1T1AttackN12.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,2},{47,59}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,36},{47,59}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Squirrel1T1AttackN13.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,2},{49,61}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,34},{49,61}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Squirrel1T1AttackN14.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,71},{49,61}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,34},{49,61}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Squirrel1T1FlinchF00.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,57},{39,53}}</string>
                <key>offset</key>
                <string>{9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,40},{39,53}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Squirrel1T1FlinchF01.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,87},{33,51}}</string>
                <key>offset</key>
                <string>{10,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,43},{33,51}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Squirrel1T1FlinchN00.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,63},{45,57}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,35},{45,57}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Squirrel1T1FlinchN01.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,65},{45,55}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,35},{45,55}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Squirrel1T1KneelN00.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,83},{37,51}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,44},{37,51}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Squirrel1T1StayN00.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,2},{43,61}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,32},{43,61}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Squirrel1T1AttackNF.pvr.ccz</string>
            <key>size</key>
            <string>{1013,122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d88bf6e7dbbfde37951d28d9a582ad67:7bdb587abcc39d2d4c3b3ffde245bb4d:76b37fc312691d5fbfca3fd2a660ef02$</string>
            <key>textureFileName</key>
            <string>Squirrel1T1AttackNF.pvr.ccz</string>
        </dict>
    </dict>
</plist>
