<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Squirrel1T1RunF00.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{114,120}}</string>
                <key>offset</key>
                <string>{27,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,70},{114,120}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Squirrel1T1RunF01.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,130},{112,114}}</string>
                <key>offset</key>
                <string>{26,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,71},{112,114}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Squirrel1T1RunF02.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,114},{104,110}}</string>
                <key>offset</key>
                <string>{21,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,74},{104,110}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Squirrel1T1RunF03.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,110},{92,106}}</string>
                <key>offset</key>
                <string>{16,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,75},{92,106}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Squirrel1T1RunF04.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,116},{80,112}}</string>
                <key>offset</key>
                <string>{8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,74},{80,112}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Squirrel1T1RunF05.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{66,122}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,74},{66,122}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Squirrel1T1RunF06.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{70,126}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,72},{70,126}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Squirrel1T1RunF07.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,2},{80,118}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,74},{80,118}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Squirrel1T1RunF08.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,112},{92,108}}</string>
                <key>offset</key>
                <string>{15,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,75},{92,108}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Squirrel1T1RunF09.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,2},{100,102}}</string>
                <key>offset</key>
                <string>{20,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,76},{100,102}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Squirrel1T1RunF10.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,2},{110,106}}</string>
                <key>offset</key>
                <string>{24,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,73},{110,106}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Squirrel1T1RunF11.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,126},{120,114}}</string>
                <key>offset</key>
                <string>{27,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,71},{120,114}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Squirrel1T1RunN00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,158},{68,98}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,74},{68,98}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Squirrel1T1RunN01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,76},{80,100}}</string>
                <key>offset</key>
                <string>{6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,74},{80,100}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Squirrel1T1RunN02.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,2},{100,106}}</string>
                <key>offset</key>
                <string>{11,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,76},{100,106}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Squirrel1T1RunN03.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,2},{112,100}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,77},{112,100}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Squirrel1T1RunN04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{124,106}}</string>
                <key>offset</key>
                <string>{16,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,76},{124,106}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Squirrel1T1RunN05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,106}}</string>
                <key>offset</key>
                <string>{22,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,75},{132,106}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Squirrel1T1RunN06.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{122,102}}</string>
                <key>offset</key>
                <string>{23,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,76},{122,102}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Squirrel1T1RunN07.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,124},{118,106}}</string>
                <key>offset</key>
                <string>{21,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,75},{118,106}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Squirrel1T1RunN08.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,122},{112,112}}</string>
                <key>offset</key>
                <string>{17,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,77},{112,112}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Squirrel1T1RunN09.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,2},{102,108}}</string>
                <key>offset</key>
                <string>{11,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,76},{102,108}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Squirrel1T1RunN10.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,110},{88,104}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,75},{88,104}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Squirrel1T1RunN11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,2},{72,102}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,73},{72,102}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Squirrel1T1RunNF@2x.pvr.ccz</string>
            <key>size</key>
            <string>{1182,244}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e43d175526224bb050ada2b97747505e:a31cf3eeddc30cc594111e28082dcc62:a45994f1bd5b5003ab5cfa9a962860a0$</string>
            <key>textureFileName</key>
            <string>Squirrel1T1RunNF@2x.pvr.ccz</string>
        </dict>
    </dict>
</plist>
