<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Brute1T1RunF00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,116}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,79},{96,116}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Brute1T1RunF01.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,2},{94,108}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,82},{94,108}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Brute1T1RunF02.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,2},{86,108}}</string>
                <key>offset</key>
                <string>{3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,83},{86,108}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Brute1T1RunF03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1240,2},{76,104}}</string>
                <key>offset</key>
                <string>{3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,87},{76,104}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Brute1T1RunF04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1938,66},{56,100}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,86},{56,100}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Brute1T1RunF05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1560,2},{72,104}}</string>
                <key>offset</key>
                <string>{-5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,84},{72,104}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Brute1T1RunF06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,2},{84,102}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,84},{84,102}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Brute1T1RunF07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1318,2},{76,102}}</string>
                <key>offset</key>
                <string>{-4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,85},{76,102}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Brute1T1RunF08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1938,2},{62,102}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,86},{62,102}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Brute1T1RunF09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,2},{66,102}}</string>
                <key>offset</key>
                <string>{4,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,87},{66,102}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Brute1T1RunF10.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,2},{84,108}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,84},{84,108}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Brute1T1RunF11.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{94,116}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,81},{94,116}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Brute1T1RunN00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1714,2},{78,92}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,89},{78,92}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Brute1T1RunN01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1396,2},{80,94}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,89},{80,94}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Brute1T1RunN02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1634,2},{78,96}}</string>
                <key>offset</key>
                <string>{-8,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,92},{78,96}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Brute1T1RunN03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1150,2},{94,88}}</string>
                <key>offset</key>
                <string>{-6,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,94},{94,88}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Brute1T1RunN04.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{104,98}}</string>
                <key>offset</key>
                <string>{-3,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,94},{104,98}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Brute1T1RunN05.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{104,100}}</string>
                <key>offset</key>
                <string>{2,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,93},{104,100}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Brute1T1RunN06.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,2},{104,98}}</string>
                <key>offset</key>
                <string>{6,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,93},{104,98}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Brute1T1RunN07.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{104,100}}</string>
                <key>offset</key>
                <string>{6,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,93},{104,100}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Brute1T1RunN08.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{100,104}}</string>
                <key>offset</key>
                <string>{4,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,93},{100,104}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Brute1T1RunN09.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,2},{90,98}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,94},{90,98}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Brute1T1RunN10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,2},{80,94}}</string>
                <key>offset</key>
                <string>{-5,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,92},{80,94}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Brute1T1RunN11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1794,2},{74,94}}</string>
                <key>offset</key>
                <string>{-6,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,90},{74,94}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Brute1T1RunNF@2x.pvr.ccz</string>
            <key>size</key>
            <string>{2042,124}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:67a2d968c3b7554eb0f4fc47d1a98120:3bb14d1854f4f0aaad320adb81f4d031:5c0e22dcefae9cc5de893c55284adbda$</string>
            <key>textureFileName</key>
            <string>Brute1T1RunNF@2x.pvr.ccz</string>
        </dict>
    </dict>
</plist>
