<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Chicken1T1RunF00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{57,63}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,30},{57,63}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Chicken1T1RunF01.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{55,59}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,32},{55,59}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Chicken1T1RunF02.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,2},{49,57}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,33},{49,57}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Chicken1T1RunF03.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,2},{45,57}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,33},{45,57}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Chicken1T1RunF04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1413,2},{39,65}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,25},{39,65}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Chicken1T1RunF05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1275,2},{41,69}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,23},{41,69}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Chicken1T1RunF06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1131,2},{41,71}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,22},{41,71}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Chicken1T1RunF07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,2},{41,69}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,23},{41,69}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Chicken1T1RunF08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1346,2},{41,65}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,26},{41,65}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Chicken1T1RunF09.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{41,57}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,33},{41,57}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Chicken1T1RunF10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,2},{47,61}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,32},{47,61}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Chicken1T1RunF11.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,2},{55,61}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,31},{55,61}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Chicken1T1RunN00.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{53,47}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,38},{53,47}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Chicken1T1RunN01.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{57,49}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,37},{57,49}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Chicken1T1RunN02.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,2},{61,51}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,38},{61,51}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Chicken1T1RunN03.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,2},{63,49}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,38},{63,49}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Chicken1T1RunN04.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,2},{63,53}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,38},{63,53}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Chicken1T1RunN05.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{61,55}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,37},{61,55}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Chicken1T1RunN06.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,2},{61,51}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,38},{61,51}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Chicken1T1RunN07.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,2},{63,53}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,37},{63,53}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Chicken1T1RunN08.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,2},{67,55}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,38},{67,55}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Chicken1T1RunN09.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,2},{65,51}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,39},{65,51}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Chicken1T1RunN10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1005,2},{61,49}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,39},{61,49}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Chicken1T1RunN11.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,2},{55,51}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,37},{55,51}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Chicken1T1RunNF.pvr.ccz</string>
            <key>size</key>
            <string>{1480,61}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a62daaa549e1293a1feb1961c373958:3c22e17e70a79b999d8ca0dfc9cebc7d:23dca158cb88919c0d4a88616abd9319$</string>
            <key>textureFileName</key>
            <string>Chicken1T1RunNF.pvr.ccz</string>
        </dict>
    </dict>
</plist>
