<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Gangster3T1AttackF00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,2},{28,54}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,49},{28,54}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Gangster3T1AttackF01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,2},{22,54}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,49},{22,54}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Gangster3T1AttackF02.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,2},{34,54}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,49},{34,54}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Gangster3T1AttackF03.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,2},{36,54}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,49},{36,54}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Gangster3T1AttackF04.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,2},{34,54}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,49},{34,54}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Gangster3T1AttackF05.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,2},{48,60}}</string>
                <key>offset</key>
                <string>{-14,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,43},{48,60}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Gangster3T1AttackF06.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{58,64}}</string>
                <key>offset</key>
                <string>{-19,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,39},{58,64}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Gangster3T1AttackF07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,32},{28,54}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,49},{28,54}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Gangster3T1AttackF08.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{36,54}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,49},{36,54}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Gangster3T1AttackF09.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,2},{34,54}}</string>
                <key>offset</key>
                <string>{-7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,49},{34,54}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Gangster3T1AttackF10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,26},{30,54}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,49},{30,54}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Gangster3T1AttackF11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,32},{24,54}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,49},{24,54}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Gangster3T1AttackF12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,2},{28,54}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,49},{28,54}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Gangster3T1AttackN00.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{28,56}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,49},{28,56}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Gangster3T1AttackN01.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,2},{38,56}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,50},{38,56}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Gangster3T1AttackN02.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{46,56}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,50},{46,56}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Gangster3T1AttackN03.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{44,56}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,50},{44,56}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Gangster3T1AttackN04.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{44,56}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,50},{44,56}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Gangster3T1AttackN05.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{60,56}}</string>
                <key>offset</key>
                <string>{-14,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,50},{60,56}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Gangster3T1AttackN06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,56}}</string>
                <key>offset</key>
                <string>{-19,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,50},{68,56}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Gangster3T1AttackN07.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,2},{36,56}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,50},{36,56}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Gangster3T1AttackN08.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,2},{38,56}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,50},{38,56}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Gangster3T1AttackN09.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,2},{40,56}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,50},{40,56}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Gangster3T1AttackN10.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{40,56}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,50},{40,56}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Gangster3T1AttackN11.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{38,56}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,50},{38,56}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Gangster3T1AttackN12.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,32},{28,58}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,48},{28,58}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Gangster3T1FlinchF00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,32},{28,54}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,49},{28,54}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Gangster3T1FlinchF01.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,2},{32,56}}</string>
                <key>offset</key>
                <string>{-4,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,34},{32,56}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Gangster3T1FlinchN00.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,32},{28,56}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,49},{28,56}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Gangster3T1FlinchN01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,2},{30,46}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,44},{30,46}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Gangster3T1KneelF00.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,2},{36,52}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,58},{36,52}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Gangster3T1KneelN00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,2},{34,46}}</string>
                <key>offset</key>
                <string>{-3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,67},{34,46}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Gangster3T1StayN00.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,2},{28,62}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,43},{28,62}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Gangster3T1AttackNF.pvr.ccz</string>
            <key>size</key>
            <string>{1310,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6723cd9ff46ddb0bf64ce316f8426466:3dbf3b12afd461be892f1c55367d56eb:b52dce2e0003baaabee9252aa009fd7c$</string>
            <key>textureFileName</key>
            <string>Gangster3T1AttackNF.pvr.ccz</string>
        </dict>
    </dict>
</plist>
