<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Gangster3T1RunF00.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,2},{66,106}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,96},{66,106}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Gangster3T1RunF01.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{50,110}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,96},{50,110}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Gangster3T1RunF02.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{62,116}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,94},{62,116}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Gangster3T1RunF03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,120}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,92},{74,120}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Gangster3T1RunF04.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{84,110}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,94},{84,110}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Gangster3T1RunF05.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{76,110}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,95},{76,110}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Gangster3T1RunF06.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{62,112}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,92},{62,112}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Gangster3T1RunF07.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{62,114}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,92},{62,114}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Gangster3T1RunN00.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{86,106}}</string>
                <key>offset</key>
                <string>{-6,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,106},{86,106}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Gangster3T1RunN01.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,2},{76,100}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,108},{76,100}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Gangster3T1RunN02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,2},{70,98}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,105},{70,98}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Gangster3T1RunN03.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,2},{66,100}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,103},{66,100}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Gangster3T1RunN04.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,2},{64,102}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,105},{64,102}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Gangster3T1RunN05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,74},{48,96}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,106},{48,96}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Gangster3T1RunN06.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,2},{70,102}}</string>
                <key>offset</key>
                <string>{-12,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,104},{70,102}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Gangster3T1RunN07.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,2},{82,106}}</string>
                <key>offset</key>
                <string>{-12,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,103},{82,106}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Gangster3T1RunNF@2x.pvr.ccz</string>
            <key>size</key>
            <string>{1110,124}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0469c0569fc365ee2fe348aaf12b3c75:b19dbaf7021feed8765c51de269b0c31:e6400e42c6c5ea138aeceb5495164495$</string>
            <key>textureFileName</key>
            <string>Gangster3T1RunNF@2x.pvr.ccz</string>
        </dict>
    </dict>
</plist>
