<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Goonie1T1RunF00.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{74,112}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,90},{74,112}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie1T1RunF01.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{62,116}}</string>
                <key>offset</key>
                <string>{-9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,90},{62,116}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie1T1RunF02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,122}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,88},{60,122}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie1T1RunF03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,2},{62,124}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,86},{62,124}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie1T1RunF04.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{64,114}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,90},{64,114}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie1T1RunF05.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{62,116}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,89},{62,116}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie1T1RunF06.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{60,116}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,87},{60,116}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie1T1RunF07.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{64,118}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,87},{64,118}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie1T1RunN00.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,2},{86,106}}</string>
                <key>offset</key>
                <string>{-9,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,107},{86,106}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie1T1RunN01.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,2},{82,102}}</string>
                <key>offset</key>
                <string>{-10,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,108},{82,102}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie1T1RunN02.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,2},{72,100}}</string>
                <key>offset</key>
                <string>{-13,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,105},{72,100}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie1T1RunN03.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,2},{74,100}}</string>
                <key>offset</key>
                <string>{-10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,103},{74,100}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie1T1RunN04.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,2},{74,102}}</string>
                <key>offset</key>
                <string>{-9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,104},{74,102}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie1T1RunN05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,2},{68,98}}</string>
                <key>offset</key>
                <string>{-12,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,107},{68,98}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie1T1RunN06.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,2},{70,102}}</string>
                <key>offset</key>
                <string>{-14,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,104},{70,102}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Goonie1T1RunN07.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,2},{78,106}}</string>
                <key>offset</key>
                <string>{-13,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,103},{78,106}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Goonie1T1RunNF@2x.pvr.ccz</string>
            <key>size</key>
            <string>{1208,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0b193ebf5ef87dc5ef05ee9bdf7f64ab:ff483367c580bd01bc2b003a868b47c7:698f35c94b1b5656b982621bbcd5f5fe$</string>
            <key>textureFileName</key>
            <string>Goonie1T1RunNF@2x.pvr.ccz</string>
        </dict>
    </dict>
</plist>
