<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Kim1T1RunF00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1702,2},{62,124}}</string>
                <key>offset</key>
                <string>{-3,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,84},{62,124}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Kim1T1RunF01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,122}}</string>
                <key>offset</key>
                <string>{-3,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,85},{62,122}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Kim1T1RunF02.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{60,120}}</string>
                <key>offset</key>
                <string>{-6,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,86},{60,120}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Kim1T1RunF03.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{66,114}}</string>
                <key>offset</key>
                <string>{-3,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,87},{66,114}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Kim1T1RunF04.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,2},{76,106}}</string>
                <key>offset</key>
                <string>{-4,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,85},{76,106}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Kim1T1RunF05.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,2},{84,108}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,84},{84,108}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Kim1T1RunF06.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{86,110}}</string>
                <key>offset</key>
                <string>{4,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,83},{86,110}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Kim1T1RunF07.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{86,108}}</string>
                <key>offset</key>
                <string>{5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,84},{86,108}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Kim1T1RunF08.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,2},{82,106}}</string>
                <key>offset</key>
                <string>{3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,85},{82,106}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Kim1T1RunF09.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,2},{72,106}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,86},{72,106}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Kim1T1RunF10.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{62,116}}</string>
                <key>offset</key>
                <string>{-5,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,86},{62,116}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Kim1T1RunF11.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{60,122}}</string>
                <key>offset</key>
                <string>{-7,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,85},{60,122}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Kim1T1RunN00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1638,2},{62,92}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,87},{62,92}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Kim1T1RunN01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1512,2},{62,94}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,86},{62,94}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Kim1T1RunN02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,2},{60,96}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,89},{60,96}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Kim1T1RunN03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1444,2},{66,94}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,90},{66,94}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Kim1T1RunN04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,2},{76,102}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,89},{76,102}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Kim1T1RunN05.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,2},{84,104}}</string>
                <key>offset</key>
                <string>{3,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,90},{84,104}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Kim1T1RunN06.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,2},{86,104}}</string>
                <key>offset</key>
                <string>{9,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,89},{86,104}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Kim1T1RunN07.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,2},{86,104}}</string>
                <key>offset</key>
                <string>{10,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,88},{86,104}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Kim1T1RunN08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,2},{82,104}}</string>
                <key>offset</key>
                <string>{8,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,89},{82,104}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Kim1T1RunN09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,2},{72,100}}</string>
                <key>offset</key>
                <string>{5,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,89},{72,100}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Kim1T1RunN10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1318,2},{62,96}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,88},{62,96}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Kim1T1RunN11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1576,2},{60,94}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,86},{60,94}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Kim1T1RunNF@2x.pvr.ccz</string>
            <key>size</key>
            <string>{1828,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5de62055c8376fa1296b7ad48d7a0a5b:8533a574416360839090ea8f8ff1e6f9:f2d43dcbbedd74240c9575172700be4d$</string>
            <key>textureFileName</key>
            <string>Kim1T1RunNF@2x.pvr.ccz</string>
        </dict>
    </dict>
</plist>
