<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MilitaryGirl0T1AttackF00.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,824},{50,124}}</string>
                <key>offset</key>
                <string>{-2,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,82},{50,124}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>MilitaryGirl0T1AttackF01.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,682},{74,124}}</string>
                <key>offset</key>
                <string>{-14,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,82},{74,124}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>MilitaryGirl0T1AttackF02.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,424},{84,128}}</string>
                <key>offset</key>
                <string>{-20,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,78},{84,128}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>MilitaryGirl0T1AttackF03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{110,142}}</string>
                <key>offset</key>
                <string>{-33,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,64},{110,142}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>MilitaryGirl0T1AttackF04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{132,138}}</string>
                <key>offset</key>
                <string>{-45,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,68},{132,138}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>MilitaryGirl0T1AttackF05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{110,146}}</string>
                <key>offset</key>
                <string>{-33,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,60},{110,146}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>MilitaryGirl0T1AttackF06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{132,138}}</string>
                <key>offset</key>
                <string>{-44,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,68},{132,138}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>MilitaryGirl0T1AttackF07.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{112,142}}</string>
                <key>offset</key>
                <string>{-32,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,64},{112,142}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>MilitaryGirl0T1AttackF08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{134,140}}</string>
                <key>offset</key>
                <string>{-43,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,66},{134,140}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>MilitaryGirl0T1AttackF09.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,146},{110,124}}</string>
                <key>offset</key>
                <string>{-33,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,82},{110,124}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>MilitaryGirl0T1AttackF10.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,980},{72,122}}</string>
                <key>offset</key>
                <string>{-13,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,84},{72,122}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>MilitaryGirl0T1AttackF11.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,758},{64,124}}</string>
                <key>offset</key>
                <string>{-9,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,82},{64,124}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>MilitaryGirl0T1AttackF12.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,876},{50,124}}</string>
                <key>offset</key>
                <string>{-2,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,82},{50,124}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>MilitaryGirl0T1AttackN00.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,980},{42,126}}</string>
                <key>offset</key>
                <string>{1,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,83},{42,126}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>MilitaryGirl0T1AttackN01.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,1232},{58,126}}</string>
                <key>offset</key>
                <string>{-7,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,83},{58,126}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>MilitaryGirl0T1AttackN02.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,272},{106,124}}</string>
                <key>offset</key>
                <string>{-32,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,85},{106,124}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>MilitaryGirl0T1AttackN03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,716},{130,124}}</string>
                <key>offset</key>
                <string>{-44,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,85},{130,124}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>MilitaryGirl0T1AttackN04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1370},{118,124}}</string>
                <key>offset</key>
                <string>{-39,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,85},{118,124}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>MilitaryGirl0T1AttackN05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,848},{130,124}}</string>
                <key>offset</key>
                <string>{-45,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,85},{130,124}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>MilitaryGirl0T1AttackN06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1244},{124,124}}</string>
                <key>offset</key>
                <string>{-42,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,85},{124,124}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>MilitaryGirl0T1AttackN07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,980},{130,124}}</string>
                <key>offset</key>
                <string>{-45,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,85},{130,124}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>MilitaryGirl0T1AttackN08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1112},{130,124}}</string>
                <key>offset</key>
                <string>{-44,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,85},{130,124}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>MilitaryGirl0T1AttackN09.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,554},{94,126}}</string>
                <key>offset</key>
                <string>{-26,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,83},{94,126}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>MilitaryGirl0T1AttackN10.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,1104},{62,126}}</string>
                <key>offset</key>
                <string>{-9,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,83},{62,126}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>MilitaryGirl0T1AttackN11.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,1108},{56,126}}</string>
                <key>offset</key>
                <string>{-6,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,83},{56,126}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>MilitaryGirl0T1AttackN12.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,398},{42,126}}</string>
                <key>offset</key>
                <string>{1,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,83},{42,126}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>MilitaryGirl0T1FlinchF00.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,928},{50,124}}</string>
                <key>offset</key>
                <string>{-2,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,82},{50,124}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>MilitaryGirl0T1FlinchF01.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,1370},{72,108}}</string>
                <key>offset</key>
                <string>{-7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,80},{72,108}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>MilitaryGirl0T1FlinchN00.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,526},{42,126}}</string>
                <key>offset</key>
                <string>{1,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,83},{42,126}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>MilitaryGirl0T1FlinchN01.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,1236},{64,72}}</string>
                <key>offset</key>
                <string>{-4,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,105},{64,72}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MilitaryGirl0T1AttackNF@2x.pvr.ccz</string>
            <key>size</key>
            <string>{254,1497}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a2e0c78afa681ee129d9dd0f132d098:9a95b86808f8935c8bd1847350371070:5166239fbfa8b946d7f895aef5719ebf$</string>
            <key>textureFileName</key>
            <string>MilitaryGirl0T1AttackNF@2x.pvr.ccz</string>
        </dict>
    </dict>
</plist>
