<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Squirrel1T1AttackF00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1582,122},{86,106}}</string>
                <key>offset</key>
                <string>{18,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,77},{86,106}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Squirrel1T1AttackF01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1670,122},{84,106}}</string>
                <key>offset</key>
                <string>{16,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,77},{84,106}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Squirrel1T1AttackF02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1930,2},{86,104}}</string>
                <key>offset</key>
                <string>{10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,79},{86,104}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Squirrel1T1AttackF03.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,128},{100,106}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,81},{100,106}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Squirrel1T1AttackF04.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,126},{102,110}}</string>
                <key>offset</key>
                <string>{4,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,81},{102,110}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Squirrel1T1AttackF05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,124},{108,104}}</string>
                <key>offset</key>
                <string>{7,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,81},{108,104}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Squirrel1T1AttackF06.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,2},{122,108}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,75},{122,108}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Squirrel1T1AttackF07.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{158,126}}</string>
                <key>offset</key>
                <string>{-8,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,55},{158,126}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Squirrel1T1AttackF08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{186,150}}</string>
                <key>offset</key>
                <string>{-21,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,31},{186,150}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Squirrel1T1AttackF09.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{134,114}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,67},{134,114}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Squirrel1T1AttackF10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1700,2},{114,114}}</string>
                <key>offset</key>
                <string>{11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,67},{114,114}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Squirrel1T1AttackF11.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,126},{102,112}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,69},{102,112}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Squirrel1T1AttackF12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1756,118},{98,110}}</string>
                <key>offset</key>
                <string>{18,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,72},{98,110}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Squirrel1T1AttackF13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,122},{90,106}}</string>
                <key>offset</key>
                <string>{19,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,76},{90,106}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Squirrel1T1AttackF14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1494,122},{86,106}}</string>
                <key>offset</key>
                <string>{18,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,77},{86,106}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Squirrel1T1AttackN00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1604,2},{94,118}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,71},{94,118}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Squirrel1T1AttackN01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,2},{96,120}}</string>
                <key>offset</key>
                <string>{10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,69},{96,120}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Squirrel1T1AttackN02.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,2},{104,122}}</string>
                <key>offset</key>
                <string>{20,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,67},{104,122}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Squirrel1T1AttackN03.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,2},{104,122}}</string>
                <key>offset</key>
                <string>{25,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,67},{104,122}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Squirrel1T1AttackN04.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,2},{102,124}}</string>
                <key>offset</key>
                <string>{25,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,64},{102,124}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Squirrel1T1AttackN05.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,2},{98,124}}</string>
                <key>offset</key>
                <string>{23,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,64},{98,124}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Squirrel1T1AttackN06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,2},{84,120}}</string>
                <key>offset</key>
                <string>{15,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,68},{84,120}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Squirrel1T1AttackN07.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,126},{102,116}}</string>
                <key>offset</key>
                <string>{-12,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,73},{102,116}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Squirrel1T1AttackN08.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{164,114}}</string>
                <key>offset</key>
                <string>{-43,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,75},{164,114}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Squirrel1T1AttackN09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1816,2},{112,114}}</string>
                <key>offset</key>
                <string>{-15,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,75},{112,114}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Squirrel1T1AttackN10.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,128},{100,116}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,73},{100,116}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Squirrel1T1AttackN11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,126},{98,116}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,73},{98,116}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Squirrel1T1AttackN12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1508,2},{94,118}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,71},{94,118}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Squirrel1T1AttackN13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,2},{96,118}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,71},{96,118}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Squirrel1T1AttackN14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,2},{96,118}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,71},{96,118}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Squirrel1T1FlinchF00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1856,118},{76,104}}</string>
                <key>offset</key>
                <string>{19,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,82},{76,104}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Squirrel1T1FlinchF01.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,162},{64,100}}</string>
                <key>offset</key>
                <string>{21,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,88},{64,100}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Squirrel1T1FlinchN00.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,138},{90,114}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,69},{90,114}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Squirrel1T1FlinchN01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1404,122},{88,106}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,73},{88,106}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Squirrel1T1KneelN00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1934,108},{74,98}}</string>
                <key>offset</key>
                <string>{-6,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,91},{74,98}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>Squirrel1T1StayN00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,2},{86,122}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,64},{86,122}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Squirrel1T1AttackNF@2x.pvr.ccz</string>
            <key>size</key>
            <string>{2018,230}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:947445c0170e61acee7d7eb2fab66949:3b8d38e4053b0a743472e778b49aa2ec:cb186c953dd2ca49fc3fe1f6d4099264$</string>
            <key>textureFileName</key>
            <string>Squirrel1T1AttackNF@2x.pvr.ccz</string>
        </dict>
    </dict>
</plist>
