<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TribalGuy0T1RunF00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{86,120}}</string>
                <key>offset</key>
                <string>{8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,73},{86,120}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>TribalGuy0T1RunF01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1398},{74,122}}</string>
                <key>offset</key>
                <string>{8,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,78},{74,122}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>TribalGuy0T1RunF02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1892},{64,136}}</string>
                <key>offset</key>
                <string>{-4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,69},{64,136}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>TribalGuy0T1RunF03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,496},{82,134}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,67},{82,134}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>TribalGuy0T1RunF04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1030},{80,122}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,73},{80,122}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>TribalGuy0T1RunF05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1270},{74,126}}</string>
                <key>offset</key>
                <string>{-1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,79},{74,126}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>TribalGuy0T1RunF06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1646},{70,126}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,70},{70,126}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>TribalGuy0T1RunF07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,768},{80,130}}</string>
                <key>offset</key>
                <string>{8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,68},{80,130}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>TribalGuy0T1RunN00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,632},{80,134}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,74},{80,134}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>TribalGuy0T1RunN01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1522},{74,122}}</string>
                <key>offset</key>
                <string>{-2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,80},{74,122}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>TribalGuy0T1RunN02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1154},{76,114}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,73},{76,114}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>TribalGuy0T1RunN03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{90,124}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,71},{90,124}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>TribalGuy0T1RunN04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,126}}</string>
                <key>offset</key>
                <string>{5,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,76},{94,126}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>TribalGuy0T1RunN05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{86,116}}</string>
                <key>offset</key>
                <string>{3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,82},{86,116}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>TribalGuy0T1RunN06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1774},{66,116}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,73},{66,116}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>TribalGuy0T1RunN07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,900},{80,128}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,70},{80,128}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TribalGuy0T1RunNF@2x.pvr.ccz</string>
            <key>size</key>
            <string>{98,2030}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e516fa5d2fe5527fe267eb30cba754a:0cd6c2d2c14dfaab19bff1160d9607f5:dbcf6f63fdfe86acfc2a2481bf59df30$</string>
            <key>textureFileName</key>
            <string>TribalGuy0T1RunNF@2x.pvr.ccz</string>
        </dict>
    </dict>
</plist>
