<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TribalGuy0T1AttackF00.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,2},{64,122}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,76},{64,122}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>TribalGuy0T1AttackF01.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,2},{80,138}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,60},{80,138}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>TribalGuy0T1AttackF02.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{88,140}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,57},{88,140}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>TribalGuy0T1AttackF03.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,142},{90,110}}</string>
                <key>offset</key>
                <string>{12,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,86},{90,110}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>TribalGuy0T1AttackF04.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,144},{100,128}}</string>
                <key>offset</key>
                <string>{17,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,68},{100,128}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>TribalGuy0T1AttackF05.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,2},{122,118}}</string>
                <key>offset</key>
                <string>{-31,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,78},{122,118}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>TribalGuy0T1AttackF06.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,126},{122,118}}</string>
                <key>offset</key>
                <string>{-31,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,80},{122,118}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>TribalGuy0T1AttackF07.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,142},{98,122}}</string>
                <key>offset</key>
                <string>{-19,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,76},{98,122}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>TribalGuy0T1AttackF08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1132,126},{64,120}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,78},{64,120}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>TribalGuy0T1AttackF09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,2},{64,122}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,76},{64,122}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>TribalGuy0T1AttackN00.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{98,138}}</string>
                <key>offset</key>
                <string>{-24,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,74},{98,138}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>TribalGuy0T1AttackN01.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,2},{80,134}}</string>
                <key>offset</key>
                <string>{-23,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,78},{80,134}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>TribalGuy0T1AttackN02.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{66,144}}</string>
                <key>offset</key>
                <string>{-11,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,68},{66,144}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>TribalGuy0T1AttackN03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{92,144}}</string>
                <key>offset</key>
                <string>{27,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,68},{92,144}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>TribalGuy0T1AttackN04.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,2},{60,138}}</string>
                <key>offset</key>
                <string>{-4,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,74},{60,138}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>TribalGuy0T1AttackN05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{108,104}}</string>
                <key>offset</key>
                <string>{-31,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,108},{108,104}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>TribalGuy0T1AttackN06.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,138},{64,112}}</string>
                <key>offset</key>
                <string>{-3,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,110},{64,112}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>TribalGuy0T1AttackN07.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,138},{84,114}}</string>
                <key>offset</key>
                <string>{-7,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,98},{84,114}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>TribalGuy0T1AttackN08.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{94,134}}</string>
                <key>offset</key>
                <string>{-17,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,78},{94,134}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>TribalGuy0T1AttackN09.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{98,138}}</string>
                <key>offset</key>
                <string>{-24,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,74},{98,138}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>TribalGuy0T1FlinchF00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1066,126},{64,122}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,76},{64,122}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>TribalGuy0T1FlinchF01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,86},{72,116}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,69},{72,116}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>TribalGuy0T1FlinchN00.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,142},{98,138}}</string>
                <key>offset</key>
                <string>{-24,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,74},{98,138}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>TribalGuy0T1FlinchN01.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,138},{84,88}}</string>
                <key>offset</key>
                <string>{-20,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,95},{84,88}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>TribalGuy0T1KneelF00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,2},{64,122}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,76},{64,122}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>TribalGuy0T1KneelF01.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,148},{108,104}}</string>
                <key>offset</key>
                <string>{-22,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,97},{108,104}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>TribalGuy0T1KneelN00.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{98,138}}</string>
                <key>offset</key>
                <string>{-24,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,74},{98,138}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>TribalGuy0T1KneelN01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,2},{74,82}}</string>
                <key>offset</key>
                <string>{-21,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,147},{74,82}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TribalGuy0T1AttackNF@2x.pvr.ccz</string>
            <key>size</key>
            <string>{1276,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a9fd3550b08dac614c4b613b70c0e8d9:c9a19585d4c23d39af18e505f7a7b833:91a4af1b8be86fbc6bdc7949b4b068d4$</string>
            <key>textureFileName</key>
            <string>TribalGuy0T1AttackNF@2x.pvr.ccz</string>
        </dict>
    </dict>
</plist>
