<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Zark1T1AttackF00.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,79},{45,61}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,37},{45,61}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Zark1T1AttackF01.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,63},{57,57}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,41},{57,57}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Zark1T1AttackF02.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,67},{61,57}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,41},{61,57}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Zark1T1AttackF03.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,83},{39,55}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,43},{39,55}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Zark1T1AttackF04.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,79},{45,47}}</string>
                <key>offset</key>
                <string>{10,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,51},{45,47}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Zark1T1AttackF05.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,2},{35,61}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,37},{35,61}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Zark1T1AttackF06.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,2},{63,79}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,18},{63,79}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Zark1T1AttackF07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{63,83}}</string>
                <key>offset</key>
                <string>{-17,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{63,83}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Zark1T1AttackF08.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{59,79}}</string>
                <key>offset</key>
                <string>{-15,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{59,79}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Zark1T1AttackF09.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,2},{59,65}}</string>
                <key>offset</key>
                <string>{-13,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,32},{59,65}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Zark1T1AttackF10.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,69},{55,65}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,32},{55,65}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Zark1T1AttackF11.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,73},{51,63}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,34},{51,63}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Zark1T1AttackF12.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,2},{47,63}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,35},{47,63}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Zark1T1AttackN00.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,2},{43,59}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,39},{43,59}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Zark1T1AttackN01.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,67},{57,61}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,37},{57,61}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Zark1T1AttackN02.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{59,67}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,31},{59,67}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Zark1T1AttackN03.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,83},{39,73}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,25},{39,73}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Zark1T1AttackN04.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{47,75}}</string>
                <key>offset</key>
                <string>{12,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,23},{47,75}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Zark1T1AttackN05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,87},{35,81}}</string>
                <key>offset</key>
                <string>{6,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,17},{35,81}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Zark1T1AttackN06.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,2},{63,75}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,23},{63,75}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Zark1T1AttackN07.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,2},{63,69}}</string>
                <key>offset</key>
                <string>{-15,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,29},{63,69}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Zark1T1AttackN08.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{59,63}}</string>
                <key>offset</key>
                <string>{-12,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,47},{59,63}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Zark1T1AttackN09.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,65},{59,55}}</string>
                <key>offset</key>
                <string>{-11,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,53},{59,55}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Zark1T1AttackN10.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{57,55}}</string>
                <key>offset</key>
                <string>{-8,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,48},{57,55}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Zark1T1AttackN11.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,57},{51,55}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,43},{51,55}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Zark1T1AttackN12.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,61},{47,57}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,41},{47,57}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Zark1T1FlinchF00.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,63},{49,59}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,39},{49,59}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Zark1T1FlinchF01.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,2},{53,53}}</string>
                <key>offset</key>
                <string>{7,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,48},{53,53}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Zark1T1FlinchN00.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{49,59}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,38},{49,59}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Zark1T1FlinchN01.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,71},{53,55}}</string>
                <key>offset</key>
                <string>{10,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,39},{53,55}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Zark1T1StayN00.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,2},{47,61}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,37},{47,61}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Zark1T1AttackNF.pvr.ccz</string>
            <key>size</key>
            <string>{915,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b4e3b0cb1d9ce68e09c6c907632c50ba:33d8528c207e027732978b8e9a40103e:3a7f950b7ed03a0f747060968142c62c$</string>
            <key>textureFileName</key>
            <string>Zark1T1AttackNF.pvr.ccz</string>
        </dict>
    </dict>
</plist>
