<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>HealingCenterBase01.png</key>
		<dict>
			<key>frame</key>
			<string>{{1482,2},{146,204}}</string>
			<key>offset</key>
			<string>{3,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{52,17},{146,204}}</string>
			<key>sourceSize</key>
			<string>{244,244}</string>
		</dict>
		<key>HealingCenterBase02.png</key>
		<dict>
			<key>frame</key>
			<string>{{1334,2},{146,204}}</string>
			<key>offset</key>
			<string>{3,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{52,17},{146,204}}</string>
			<key>sourceSize</key>
			<string>{244,244}</string>
		</dict>
		<key>HealingCenterBase03.png</key>
		<dict>
			<key>frame</key>
			<string>{{1186,2},{146,204}}</string>
			<key>offset</key>
			<string>{3,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{52,17},{146,204}}</string>
			<key>sourceSize</key>
			<string>{244,244}</string>
		</dict>
		<key>HealingCenterBase04.png</key>
		<dict>
			<key>frame</key>
			<string>{{1038,2},{146,204}}</string>
			<key>offset</key>
			<string>{3,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{52,17},{146,204}}</string>
			<key>sourceSize</key>
			<string>{244,244}</string>
		</dict>
		<key>HealingCenterBase05.png</key>
		<dict>
			<key>frame</key>
			<string>{{890,2},{146,204}}</string>
			<key>offset</key>
			<string>{3,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{52,17},{146,204}}</string>
			<key>sourceSize</key>
			<string>{244,244}</string>
		</dict>
		<key>HealingCenterBase06.png</key>
		<dict>
			<key>frame</key>
			<string>{{742,2},{146,204}}</string>
			<key>offset</key>
			<string>{3,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{52,17},{146,204}}</string>
			<key>sourceSize</key>
			<string>{244,244}</string>
		</dict>
		<key>HealingCenterBase07.png</key>
		<dict>
			<key>frame</key>
			<string>{{594,2},{146,204}}</string>
			<key>offset</key>
			<string>{3,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{52,17},{146,204}}</string>
			<key>sourceSize</key>
			<string>{244,244}</string>
		</dict>
		<key>HealingCenterBase08.png</key>
		<dict>
			<key>frame</key>
			<string>{{446,2},{146,204}}</string>
			<key>offset</key>
			<string>{3,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{52,17},{146,204}}</string>
			<key>sourceSize</key>
			<string>{244,244}</string>
		</dict>
		<key>HealingCenterBase09.png</key>
		<dict>
			<key>frame</key>
			<string>{{298,2},{146,204}}</string>
			<key>offset</key>
			<string>{3,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{52,17},{146,204}}</string>
			<key>sourceSize</key>
			<string>{244,244}</string>
		</dict>
		<key>HealingCenterBase10.png</key>
		<dict>
			<key>frame</key>
			<string>{{150,2},{146,204}}</string>
			<key>offset</key>
			<string>{3,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{52,17},{146,204}}</string>
			<key>sourceSize</key>
			<string>{244,244}</string>
		</dict>
		<key>HealingCenterBase00.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{146,204}}</string>
			<key>offset</key>
			<string>{3,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{52,17},{146,204}}</string>
			<key>sourceSize</key>
			<string>{244,244}</string>
		</dict>
		<key>HealingCenterIn01.png</key>
		<dict>
			<key>frame</key>
			<string>{{1630,2},{80,160}}</string>
			<key>offset</key>
			<string>{0,38}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{82,4},{80,160}}</string>
			<key>sourceSize</key>
			<string>{244,244}</string>
		</dict>
		<key>HealingCenterIn02.png</key>
		<dict>
			<key>frame</key>
			<string>{{1460,208},{80,160}}</string>
			<key>offset</key>
			<string>{0,38}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{82,4},{80,160}}</string>
			<key>sourceSize</key>
			<string>{244,244}</string>
		</dict>
		<key>HealingCenterIn03.png</key>
		<dict>
			<key>frame</key>
			<string>{{1298,208},{80,160}}</string>
			<key>offset</key>
			<string>{0,38}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{82,4},{80,160}}</string>
			<key>sourceSize</key>
			<string>{244,244}</string>
		</dict>
		<key>HealingCenterIn04.png</key>
		<dict>
			<key>frame</key>
			<string>{{1136,208},{80,160}}</string>
			<key>offset</key>
			<string>{0,38}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{82,4},{80,160}}</string>
			<key>sourceSize</key>
			<string>{244,244}</string>
		</dict>
		<key>HealingCenterIn05.png</key>
		<dict>
			<key>frame</key>
			<string>{{974,208},{80,160}}</string>
			<key>offset</key>
			<string>{0,38}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{82,4},{80,160}}</string>
			<key>sourceSize</key>
			<string>{244,244}</string>
		</dict>
		<key>HealingCenterIn06.png</key>
		<dict>
			<key>frame</key>
			<string>{{812,208},{80,160}}</string>
			<key>offset</key>
			<string>{0,38}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{82,4},{80,160}}</string>
			<key>sourceSize</key>
			<string>{244,244}</string>
		</dict>
		<key>HealingCenterIn07.png</key>
		<dict>
			<key>frame</key>
			<string>{{650,208},{80,160}}</string>
			<key>offset</key>
			<string>{0,38}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{82,4},{80,160}}</string>
			<key>sourceSize</key>
			<string>{244,244}</string>
		</dict>
		<key>HealingCenterIn08.png</key>
		<dict>
			<key>frame</key>
			<string>{{488,208},{80,160}}</string>
			<key>offset</key>
			<string>{0,38}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{82,4},{80,160}}</string>
			<key>sourceSize</key>
			<string>{244,244}</string>
		</dict>
		<key>HealingCenterIn09.png</key>
		<dict>
			<key>frame</key>
			<string>{{326,208},{80,160}}</string>
			<key>offset</key>
			<string>{0,38}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{82,4},{80,160}}</string>
			<key>sourceSize</key>
			<string>{244,244}</string>
		</dict>
		<key>HealingCenterIn10.png</key>
		<dict>
			<key>frame</key>
			<string>{{164,208},{80,160}}</string>
			<key>offset</key>
			<string>{0,38}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{82,4},{80,160}}</string>
			<key>sourceSize</key>
			<string>{244,244}</string>
		</dict>
		<key>HealingCenterIn00.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,208},{80,160}}</string>
			<key>offset</key>
			<string>{0,38}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{82,4},{80,160}}</string>
			<key>sourceSize</key>
			<string>{244,244}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>HealingCenter@2x.pvr.ccz</string>
		<key>size</key>
		<string>{1712,290}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:609243f97601af1049d68eed030af8f5:e2c83af65f745d3eac6de3b8971505b6:cb9cf20248b8480c305d6b7849ab38cf$</string>
		<key>textureFileName</key>
		<string>HealingCenter@2x.pvr.ccz</string>
	</dict>
</dict>
</plist>
