<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>HealingCenterBase00.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,2},{146,203}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{146,203}}</string>
                <key>sourceSize</key>
                <string>{146,217}</string>
            </dict>
            <key>HealingCenterBase01.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,207},{146,203}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{146,203}}</string>
                <key>sourceSize</key>
                <string>{146,217}</string>
            </dict>
            <key>HealingCenterBase02.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,2},{146,203}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{146,203}}</string>
                <key>sourceSize</key>
                <string>{146,217}</string>
            </dict>
            <key>HealingCenterBase03.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,207},{146,203}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{146,203}}</string>
                <key>sourceSize</key>
                <string>{146,217}</string>
            </dict>
            <key>HealingCenterBase04.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{146,203}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{146,203}}</string>
                <key>sourceSize</key>
                <string>{146,217}</string>
            </dict>
            <key>HealingCenterBase05.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,207},{146,203}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{146,203}}</string>
                <key>sourceSize</key>
                <string>{146,217}</string>
            </dict>
            <key>HealingCenterBase06.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{146,203}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{146,203}}</string>
                <key>sourceSize</key>
                <string>{146,217}</string>
            </dict>
            <key>HealingCenterBase07.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,207},{146,203}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{146,203}}</string>
                <key>sourceSize</key>
                <string>{146,217}</string>
            </dict>
            <key>HealingCenterBase08.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{146,203}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{146,203}}</string>
                <key>sourceSize</key>
                <string>{146,217}</string>
            </dict>
            <key>HealingCenterBase09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,207},{146,203}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{146,203}}</string>
                <key>sourceSize</key>
                <string>{146,217}</string>
            </dict>
            <key>HealingCenterBase10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{146,203}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{146,203}}</string>
                <key>sourceSize</key>
                <string>{146,217}</string>
            </dict>
            <key>HealingCenterTube00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,328},{80,161}}</string>
                <key>offset</key>
                <string>{-3,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{80,161}}</string>
                <key>sourceSize</key>
                <string>{146,217}</string>
            </dict>
            <key>HealingCenterTube01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,165},{80,161}}</string>
                <key>offset</key>
                <string>{-3,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{80,161}}</string>
                <key>sourceSize</key>
                <string>{146,217}</string>
            </dict>
            <key>HealingCenterTube02.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,328},{80,161}}</string>
                <key>offset</key>
                <string>{-3,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{80,161}}</string>
                <key>sourceSize</key>
                <string>{146,217}</string>
            </dict>
            <key>HealingCenterTube03.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,165},{80,161}}</string>
                <key>offset</key>
                <string>{-3,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{80,161}}</string>
                <key>sourceSize</key>
                <string>{146,217}</string>
            </dict>
            <key>HealingCenterTube04.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,328},{80,161}}</string>
                <key>offset</key>
                <string>{-3,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{80,161}}</string>
                <key>sourceSize</key>
                <string>{146,217}</string>
            </dict>
            <key>HealingCenterTube05.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,165},{80,161}}</string>
                <key>offset</key>
                <string>{-3,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{80,161}}</string>
                <key>sourceSize</key>
                <string>{146,217}</string>
            </dict>
            <key>HealingCenterTube06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,2},{80,161}}</string>
                <key>offset</key>
                <string>{-3,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{80,161}}</string>
                <key>sourceSize</key>
                <string>{146,217}</string>
            </dict>
            <key>HealingCenterTube07.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,2},{80,161}}</string>
                <key>offset</key>
                <string>{-3,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{80,161}}</string>
                <key>sourceSize</key>
                <string>{146,217}</string>
            </dict>
            <key>HealingCenterTube08.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,2},{80,161}}</string>
                <key>offset</key>
                <string>{-3,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{80,161}}</string>
                <key>sourceSize</key>
                <string>{146,217}</string>
            </dict>
            <key>HealingCenterTube09.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,207},{80,161}}</string>
                <key>offset</key>
                <string>{-3,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{80,161}}</string>
                <key>sourceSize</key>
                <string>{146,217}</string>
            </dict>
            <key>HealingCenterTube10.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,207},{80,161}}</string>
                <key>offset</key>
                <string>{-3,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{80,161}}</string>
                <key>sourceSize</key>
                <string>{146,217}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>HealingCenter@2x.pvr.ccz</string>
            <key>size</key>
            <string>{1152,491}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c72345946192f7dbba015a70b717a9f:9c24ae68609b5cecc6016380acb1466d:443f8add9854f06ebcd3b54886063dea$</string>
            <key>textureFileName</key>
            <string>HealingCenter@2x.pvr.ccz</string>
        </dict>
    </dict>
</plist>
