<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MPM00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1108,2},{156,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,176}}</string>
                <key>sourceSize</key>
                <string>{156,176}</string>
            </dict>
            <key>MPM01.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,2},{156,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,176}}</string>
                <key>sourceSize</key>
                <string>{156,176}</string>
            </dict>
            <key>MPM02.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,2},{156,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,176}}</string>
                <key>sourceSize</key>
                <string>{156,176}</string>
            </dict>
            <key>MPM03.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,2},{156,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,176}}</string>
                <key>sourceSize</key>
                <string>{156,176}</string>
            </dict>
            <key>MPM04.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,2},{156,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,176}}</string>
                <key>sourceSize</key>
                <string>{156,176}</string>
            </dict>
            <key>MPM05.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{156,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,176}}</string>
                <key>sourceSize</key>
                <string>{156,176}</string>
            </dict>
            <key>MPM06.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{156,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,176}}</string>
                <key>sourceSize</key>
                <string>{156,176}</string>
            </dict>
            <key>MPM07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{156,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,176}}</string>
                <key>sourceSize</key>
                <string>{156,176}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MPM@2x.pvr.ccz</string>
            <key>size</key>
            <string>{1266,180}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb9fe755631c04415864567fd24394aa:d58be7d6fbef4005910ff62765e1a001:55d099519769a60bc30bb32210a95ed5$</string>
            <key>textureFileName</key>
            <string>MPM@2x.pvr.ccz</string>
        </dict>
    </dict>
</plist>
