<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>OilStorage00.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{136,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,178}}</string>
                <key>sourceSize</key>
                <string>{136,178}</string>
            </dict>
            <key>OilStorage01.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{136,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,178}}</string>
                <key>sourceSize</key>
                <string>{136,178}</string>
            </dict>
            <key>OilStorage02.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{136,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,178}}</string>
                <key>sourceSize</key>
                <string>{136,178}</string>
            </dict>
            <key>OilStorage03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{136,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,178}}</string>
                <key>sourceSize</key>
                <string>{136,178}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>OilStorage@2x.pvr.ccz</string>
            <key>size</key>
            <string>{554,182}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c9aa263daaaa1c4f03e3914fd1c78d0:dbe29195dd7de82bef5e3a091e8c01fa:60e8b648b06731cc276808bc95bd5f4b$</string>
            <key>textureFileName</key>
            <string>OilStorage@2x.pvr.ccz</string>
        </dict>
    </dict>
</plist>
