<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ResearchLab00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1442,2},{158,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,200}}</string>
                <key>sourceSize</key>
                <string>{158,200}</string>
            </dict>
            <key>ResearchLab01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,2},{158,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,200}}</string>
                <key>sourceSize</key>
                <string>{158,200}</string>
            </dict>
            <key>ResearchLab02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,2},{158,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,200}}</string>
                <key>sourceSize</key>
                <string>{158,200}</string>
            </dict>
            <key>ResearchLab03.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,2},{158,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,200}}</string>
                <key>sourceSize</key>
                <string>{158,200}</string>
            </dict>
            <key>ResearchLab04.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,2},{158,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,200}}</string>
                <key>sourceSize</key>
                <string>{158,200}</string>
            </dict>
            <key>ResearchLab05.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,2},{158,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,200}}</string>
                <key>sourceSize</key>
                <string>{158,200}</string>
            </dict>
            <key>ResearchLab06.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{158,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,200}}</string>
                <key>sourceSize</key>
                <string>{158,200}</string>
            </dict>
            <key>ResearchLab07.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{158,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,200}}</string>
                <key>sourceSize</key>
                <string>{158,200}</string>
            </dict>
            <key>ResearchLab08.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{158,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,200}}</string>
                <key>sourceSize</key>
                <string>{158,200}</string>
            </dict>
            <key>ResearchLab09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{158,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,200}}</string>
                <key>sourceSize</key>
                <string>{158,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ResearchLab@2x.pvr.ccz</string>
            <key>size</key>
            <string>{1602,204}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9467e08c19a4294f3afc7e803c930016:af0cd929b8939d7cde2e8ce9c9e3620c:e6a69664e155668e8163ab6e30cd82c3$</string>
            <key>textureFileName</key>
            <string>ResearchLab@2x.pvr.ccz</string>
        </dict>
    </dict>
</plist>
