<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Luchador1AKAttackF00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,760},{52,58}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,46},{52,58}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Luchador1AKAttackF01.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,290},{48,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,46},{48,58}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Luchador1AKAttackF02.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,708},{60,58}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,46},{60,58}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Luchador1AKAttackF03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,538},{66,64}}</string>
                <key>offset</key>
                <string>{-14,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,40},{66,64}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Luchador1AKAttackF04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,664},{60,58}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,46},{60,58}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Luchador1AKAttackF05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{66,64}}</string>
                <key>offset</key>
                <string>{-14,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,40},{66,64}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Luchador1AKAttackF06.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,646},{60,58}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,46},{60,58}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Luchador1AKAttackF07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{66,64}}</string>
                <key>offset</key>
                <string>{-14,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,40},{66,64}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Luchador1AKAttackF08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,604},{60,58}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,46},{60,58}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Luchador1AKAttackF09.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,114},{38,58}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,46},{38,58}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Luchador1AKAttackF10.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,230},{48,58}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,46},{48,58}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Luchador1AKAttackF11.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,586},{52,58}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,46},{52,58}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Luchador1AKAttackF12.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,526},{52,58}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,46},{52,58}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Luchador1AKAttackF13.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,466},{52,58}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,46},{52,58}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Luchador1AKAttackN00.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,834},{30,56}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,51},{30,56}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Luchador1AKAttackN01.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,174},{36,54}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,51},{36,54}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Luchador1AKAttackN02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{68,54}}</string>
                <key>offset</key>
                <string>{-21,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,51},{68,54}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Luchador1AKAttackN03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{78,58}}</string>
                <key>offset</key>
                <string>{-25,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,51},{78,58}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Luchador1AKAttackN04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{68,54}}</string>
                <key>offset</key>
                <string>{-20,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,51},{68,54}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Luchador1AKAttackN05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{78,58}}</string>
                <key>offset</key>
                <string>{-25,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,51},{78,58}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Luchador1AKAttackN06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{68,54}}</string>
                <key>offset</key>
                <string>{-20,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,51},{68,54}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Luchador1AKAttackN07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{78,58}}</string>
                <key>offset</key>
                <string>{-25,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,51},{78,58}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Luchador1AKAttackN08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{68,54}}</string>
                <key>offset</key>
                <string>{-20,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,51},{68,54}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Luchador1AKAttackN09.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,350},{48,54}}</string>
                <key>offset</key>
                <string>{-11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,51},{48,54}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Luchador1AKAttackN10.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,58},{40,54}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,51},{40,54}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Luchador1AKAttackN11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,846},{30,56}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,50},{30,56}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Luchador1AKAttackN12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,814},{30,56}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,51},{30,56}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Luchador1AKAttackN13.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,802},{30,56}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,51},{30,56}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Luchador1AKFlinchF00.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,406},{52,58}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,46},{52,58}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Luchador1AKFlinchF01.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{40,54}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,32},{40,54}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Luchador1AKFlinchN00.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,770},{30,56}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,51},{30,56}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Luchador1AKFlinchN01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,724},{34,60}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,38},{34,60}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Luchador1AKAttackNF.pvr.ccz</string>
            <key>size</key>
            <string>{124,878}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae45507655a9ddcda0b28dcabe97c56e:88e7737c23f617686d311122b0e02b83:80c567225dfaf338da093d67adb26b6e$</string>
            <key>textureFileName</key>
            <string>Luchador1AKAttackNF.pvr.ccz</string>
        </dict>
    </dict>
</plist>
