<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Mafia1T1AttackF00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,2},{31,53}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,44},{31,53}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Mafia1T1AttackF01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,2},{27,55}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,42},{27,55}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Mafia1T1AttackF02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1047,35},{21,61}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,36},{21,61}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Mafia1T1AttackF03.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,35},{25,67}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,30},{25,67}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Mafia1T1AttackF04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1049,2},{31,59}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,38},{31,59}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Mafia1T1AttackF05.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,2},{47,67}}</string>
                <key>offset</key>
                <string>{-13,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,30},{47,67}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Mafia1T1AttackF06.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{47,67}}</string>
                <key>offset</key>
                <string>{-12,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,30},{47,67}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Mafia1T1AttackF07.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,2},{31,63}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,34},{31,63}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Mafia1T1AttackF08.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,2},{31,59}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,38},{31,59}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Mafia1T1AttackF09.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,35},{25,53}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,44},{25,53}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Mafia1T1AttackF10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,31},{27,53}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,44},{27,53}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Mafia1T1AttackF11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1217,2},{31,53}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,44},{31,53}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Mafia1T1AttackF12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,2},{31,53}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,44},{31,53}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Mafia1T1AttackN00.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,2},{43,53}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,44},{43,53}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Mafia1T1AttackN01.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,2},{47,53}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,44},{47,53}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Mafia1T1AttackN02.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,2},{39,55}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,42},{39,55}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Mafia1T1AttackN03.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,2},{45,53}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,44},{45,53}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Mafia1T1AttackN04.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{55,53}}</string>
                <key>offset</key>
                <string>{-7,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,44},{55,53}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Mafia1T1AttackN05.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,2},{69,53}}</string>
                <key>offset</key>
                <string>{-15,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,44},{69,53}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Mafia1T1AttackN06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{71,53}}</string>
                <key>offset</key>
                <string>{-14,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,44},{71,53}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Mafia1T1AttackN07.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,2},{51,53}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,44},{51,53}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Mafia1T1AttackN08.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{57,53}}</string>
                <key>offset</key>
                <string>{-8,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,44},{57,53}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Mafia1T1AttackN09.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,2},{55,53}}</string>
                <key>offset</key>
                <string>{-8,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,44},{55,53}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Mafia1T1AttackN10.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{49,53}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,44},{49,53}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Mafia1T1AttackN11.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,2},{43,53}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,44},{43,53}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Mafia1T1AttackN12.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,2},{43,53}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,44},{43,53}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Mafia1T1FlinchF00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1149,2},{33,53}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,45},{33,53}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Mafia1T1FlinchF01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,2},{37,51}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,49},{37,51}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Mafia1T1FlinchN00.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,2},{47,53}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,43},{47,53}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Mafia1T1FlinchN01.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{47,49}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,45},{47,49}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>Mafia1T1StayN00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1283,2},{27,57}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,40},{27,57}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Mafia1T1AttackNF.pvr.ccz</string>
            <key>size</key>
            <string>{1369,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4767ef87a85b7110a767985cc08a13b3:f48bf04f2d02f00eabc9a701d25c80b1:ea212dc743e47da525697d009499f519$</string>
            <key>textureFileName</key>
            <string>Mafia1T1AttackNF.pvr.ccz</string>
        </dict>
    </dict>
</plist>
