<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ZarkT1RunF00.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,2},{41,59}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,35},{41,59}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>ZarkT1RunF01.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,2},{41,57}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,36},{41,57}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>ZarkT1RunF02.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,2},{45,57}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,36},{45,57}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>ZarkT1RunF03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{49,59}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,36},{49,59}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>ZarkT1RunF04.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,2},{47,61}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,36},{47,61}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>ZarkT1RunF05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1060,2},{45,65}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,34},{45,65}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>ZarkT1RunF06.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,2},{47,65}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,34},{47,65}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>ZarkT1RunF07.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,2},{45,65}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,34},{45,65}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>ZarkT1RunF08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1127,2},{43,63}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,35},{43,63}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>ZarkT1RunF09.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,2},{43,59}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,37},{43,59}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>ZarkT1RunF10.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{41,59}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,36},{41,59}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>ZarkT1RunF11.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{39,59}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,36},{39,59}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>ZarkT1RunN00.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,2},{41,53}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,38},{41,53}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>ZarkT1RunN01.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,2},{41,55}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,37},{41,55}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>ZarkT1RunN02.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,2},{45,57}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,38},{45,57}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>ZarkT1RunN03.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,2},{49,53}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,39},{49,53}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>ZarkT1RunN04.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{47,57}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,40},{47,57}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>ZarkT1RunN05.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,2},{45,59}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,38},{45,59}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>ZarkT1RunN06.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,2},{47,57}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,39},{47,57}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>ZarkT1RunN07.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,2},{43,57}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,40},{43,57}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>ZarkT1RunN08.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{43,59}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,40},{43,59}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>ZarkT1RunN09.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,2},{43,57}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,39},{43,57}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>ZarkT1RunN10.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,2},{41,55}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,39},{41,55}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
            <key>ZarkT1RunN11.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,2},{39,55}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,37},{39,55}}</string>
                <key>sourceSize</key>
                <string>{125,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ZarkT1RunNF.pvr.ccz</string>
            <key>size</key>
            <string>{1192,63}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c85aed5828dc2a0778b35104733c989e:596fca7dc96489d89232eb832a2803d3:3522f8771198536ddccc9dd9f59f7d40$</string>
            <key>textureFileName</key>
            <string>ZarkT1RunNF.pvr.ccz</string>
        </dict>
    </dict>
</plist>
